body {
  margin: 0;
  padding-right: 1vw;
  background-color: rgb(240, 240, 240);
}

.title {
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 0.5em;
  padding-top: 0.25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  font-size: 2em;
  color: #FFF;
  background-color: #9F509F;
  border-top: 0.25em solid #BD75BF;
  display: inline-block;
}
