
/* ROUNDED ONE */
.subredditCheckbox {
	width: 15px;
	height: 15px;
	background: rgba(255, 255, 255, 0.2);

	margin: 4px auto;

	position: relative;
}

.subredditCheckbox label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 11px;
	height: 11px;
	background: #00AAFF;

	cursor: pointer;

	top:  2px;
	left: 2px;
}

.subredditCheckbox label:hover::after {
	filter: alpha(opacity=30);
	opacity: 0.3;
	background: #11BBFF;
}

.subredditCheckbox input[type=checkbox]:checked + label:after {
	filter: alpha(opacity=100);
	opacity: 1;
}