/* One column layout */
@mixin layout($map, $parent: "html") {
    @import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400');

    #{$parent} div {
        box-sizing: border-box;
    }

    #{$parent} body {
        margin: 0;
        padding: 0;
        font-family: 'Charis SIL', 'Palatino', serif;
        line-height: 1.4;
        text-align: center;
        box-sizing: border-box;
    }

    #{$parent} .cpp {
        font-family: monospace; /* for typesetting the word "C++" */
    }

    #{$parent} #background_image {
        max-width: 1300px;
        width:  1040px;
        height: 520px;
        position: fixed;
        background-repeat: no-repeat;
        background-position: right;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin: auto;
        z-index: 1;
        background-image: none;

        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    @media (max-width: 1300px) {
        #{$parent} #background_image {
            max-width: 1300px;
            width:  80vw;
            height: 40vw;

            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
        }
    }

    @media (max-width: 970px), (max-height: 800px) {
        #{$parent} #background_image {
            opacity: 0 !important;
            transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -webkit-transition: opacity .5s ease-in-out;
        }
    }

    #{$parent} .body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    #{$parent} .section_panel {
        max-width: 80%;
        width: 80%;
        padding-right: 1em;
        margin-bottom: 4em;
        margin-top: 1.5em;
    }

    #{$parent} .section_panel > a {
        margin-top: -3em;
    }

    @media (max-width: 970px) {
        #{$parent} .section_panel {
            width: 100%;
            max-width: 100%;
            padding-right: 0em;
        }

        #{$parent} .project_title {
            font-size: 20pt !important;
            font-weight: normal !important;
        }
    }

    #{$parent} .section_text {
        padding: 1em;
        padding-top: 2em;
    }

    #{$parent} .section_text > p:first-child {
        margin-top: -5pt;
    }

    #{$parent} .section_text > p {
        margin-top: 5pt;
        margin-bottom: 5pt;
    }

    #{$parent} .section_text hr {
        margin-top: 5pt;
        margin-bottom: -5pt;
    }

    #{$parent} .section_text a {
        display: inline;
        white-space: normal; /* allow line breaks on spaces in links */
    }

    #{$parent} .project_header {
        display: flex; /* equal child height */
        column-gap: 1em;
    }

    #{$parent} .breaking_news {
        font-size: 12pt;
        line-height: 1.3;
        padding: .7em 1em .7em 1em;
        margin: -2em -.25em 0em -.25em;
        border-radius: 1em;
/*        font-style: italic;*/

        p:first-child { margin-top: 0; }
        p:last-child { margin-bottom: 0; }
    }

    #{$parent} .breaking_news_container {
        margin-top: 1em !important;
    }

    #{$parent} .section_text .news {
        position: relative; /* needed to position "...more" label later */
        padding-bottom: .5em;
        font-size: 14px;
    }

    #{$parent} .section_text .news h4 {
        font-weight: 600;
        font-size: 14px;
        font-variant-caps: small-caps;
    }

    #{$parent} .section_text .news ul, #{$parent} .section_text .news ul div {
        margin: 0;
        padding: 0;
        display: flex; /* displaying with flex allows us to control the list order from css for the summary/details */
        flex-direction: column;
        gap: .4em;
    }

    #{$parent} .section_text .news ul {    
        margin-left: 1em;
    }

    #{$parent} .news li, #{$parent} .news div li, {
        display: flex;
        flex-direction: row;
        line-height: 1.1;
        gap: .5em;
    }

    #{$parent} .section_text .news .when {
        width: 5em;
        flex: 0 0 auto;
        display: inline;
        font-style: italic;
    }

    #{$parent} .section_text .news .where {
        display: inline;
    }

    #{$parent} .section_text .news summary {
/*        position:absolute;
        bottom:0px;
        left:0;*/
        margin-left: 1em;
        list-style: none;
    }

    #{$parent} .section_text .news details {
        display: contents; /* make details participate in flexbox layout */
    }

    #{$parent} .section_text .news summary:hover {
        cursor: pointer;
    }

    #{$parent} .section_text .news details summary::-webkit-details-marker {
        display:none;
    }

    #{$parent} .section_text .news details summary::before {
        content: "... see more ...";
    }
    
    #{$parent} .section_text .news details[open] summary::before {
        content: "... see less ...";
    }
    
    #{$parent} .section_text .news details[open] > summary {
        order: 2;
    }

     /* animate details opening */
    #{$parent} .section_text .news details > div {
      overflow: hidden;
      max-height: 0px;
    }
    
    #{$parent} .section_text .news details[open] > div {
      max-height: 1000px;
      transition: max-height .25s ease-in;
    }

    #{$parent} .misc_project_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #{$parent} .misc_project_list .project_header {
        margin-bottom: 2em;
        flex-direction: row-reverse; /* put images left of text by default */
        max-width: 48%;
    }

    #{$parent} .project_header .image {
        flex: 0 0 30%;
        width: 30%;
        margin-top: 5pt;
    }

    #{$parent} .project_header .image img {
        max-width: 100%;
        max-height: 12em;
    }

    #{$parent} .project_header .text {
        flex: 1 1 70%;
        // display: flex;
        // align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding-left: 15pt;
        padding-right: 0pt;
    }

    #{$parent} .project_header .text .project_title {
        font-weight: 300;
        font-size: 20pt;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 2pt;
        text-align: left;
        margin-left: -15pt;
    }

    #{$parent} .project_header .text .venue, .project_author_list {
        line-height: 1.1;
        font-weight: normal;
    }

    #{$parent} .project_header .text .venue {
        margin-top: .125em;
        margin-bottom: .125em;
    }

    #{$parent} .project_header .text .award {
        display: inline-block;
        line-height: 1;
        font-weight: normal;
        border-radius: .75em;
        padding: .4em .6em;
        margin: .25em 0em .25em -.75em ;
        text-decoration: none;
    }

    #{$parent} .project_header .award .description {
        font-size: 10pt;
        text-align: center;
        display: inline-block;
        margin-left: 1em;
        font-style: italic;
    }

    #{$parent} .project_author_list a {
        text-decoration: none;
        font-weight: normal;
    }

    #{$parent} .project_header .text .mini_abstract {
        line-height: 1.2;
/*        font-size: 11pt;*/
        box-sizing: border-box;
    }

    #{$parent} .section_panel .project_links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 2pt;
        margin-bottom: 15pt;
        padding-left: 15pt;
        padding-right: 15pt;
    }

    #{$parent} .talk .project_links {
        justify-content: flex-start; /* left-align talk links */
        padding-left: 0pt;
        padding-top: 0pt;
        margin-top: 0pt;
        margin-bottom: .25em;
    }

    #{$parent} .section_panel .project_links a {
        margin-left: .25em;
    }

    #{$parent} .section_panel .project_links > :first-child {
        margin-left: 0;
    }

    #{$parent} .project_links a::before, #{$parent} .bibBox button::before, #{$parent} .bibEntry button::before {
        content: "[";
    }

    #{$parent} .project_links a::after, #{$parent} .bibBox button::after, #{$parent} .bibEntry button::after {
        content: "]";
    }

    #{$parent} .section_panel .project_links details {
        display: contents; /* make details participate in flexbox layout */
    }

    #{$parent} .section_panel .project_links details summary {
        margin-left: .25em;
        list-style: none;
    }

    #{$parent} .section_panel .project_links summary:hover {
        cursor: pointer;
    }

    #{$parent} .section_panel .project_links details summary::-webkit-details-marker {
        display:none;
    }

    #{$parent} .section_panel .project_links details summary::before {
        content: "[...more]";
    }
    
    #{$parent} .section_panel .project_links details[open] summary {
      order: 2; /* move to end */
    }
    
    #{$parent} .section_panel .project_links details[open] summary::before {
        content: "[...less]";
    }

    /* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
    #{$parent} .bibBox {
        display: inline-block;
        position: relative;
        width: 3.85em;
        height: 15pt;
    }

    /* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
    #{$parent} .bibBox .bibliography {
        font-family: monospace;
        word-wrap: break-word;
        text-align: left;
        white-space: pre-wrap;

        position: absolute;
        top:2em;
        right:-1em;
        padding: 1em .75em 1em 1em;
        margin: 0;
        width: 30em;
        height: auto;
        border-radius: 0.25em;

        z-index: 200;
/*        visibility: hidden;*/
        opacity: .0001;
        transition: .5s;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }

    /* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
    #{$parent} .bibBox:hover .bibliography {
        visibility: visible !important;
        opacity: 1.0;
        transition: .5s;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }

    #{$parent} .bibBox button, #{$parent} .bibEntry button {
        padding: 0;
        border: none;
        background: none;
        float: right;
        font-family: 'Charis SIL', 'Palatino', serif;
        font-size: 12pt;
    }

    #{$parent} .bibBox button:hover, #{$parent} .bibEntry button:hover {
        cursor: pointer;
    }

    #{$parent} .noise {
        position: fixed;
        background-repeat: repeat;
        background-position: right;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .05;
        z-index: -1;
        /*background-image: url('stolen-noise.jpg');*/
    }

    #{$parent} .title h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #{$parent} .title h4 {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 1em;
    }

    #{$parent} .title {
        padding-top:  3em;
        padding-left: 3em;
        position: relative;
        z-index: 1;
    }

    #{$parent} .title-img {
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: bottom right;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .25;
        z-index: -1;
    }

    #{$parent} .page-content {
        text-align: left;
        max-width: 1200px;
        margin: auto;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    #{$parent} .section {
        flex-direction: column;
    }

    #{$parent} .subsection {
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
    }

    #{$parent} .section-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 2em;
    }

    #{$parent} .section-content > div {
        margin-left: 15px;
        margin-right: 15px;
    }

    #{$parent} .section-content > :first-child {
        margin-left: 30px;
    }

    #{$parent} .section-content > :last-child {
        margin-right: 30px;
    }

    #{$parent} .section-content {
        text-align: justify;
    }

    #{$parent} .subsection-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #{$parent} .section-text {
        width: 80%;
        max-width: 400px;
        margin-bottom: 1em;
    }

    #{$parent} h1 {
        font-family: 'Helvetica';
        font-weight: 600;
        font-size: 150px;
        line-height: 1;
        max-width: 800px;
        margin: 0;
        margin-bottom: 5px;
    }

    #{$parent} h2, #{$parent} .section_header {
        box-sizing: border-box;
        font-family: 'Helvetica';
        font-weight: 600;
        font-size: 60px;
        text-align: left;
        line-height: 1;

        z-index: 10;
        position: relative;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-left: -10px;
        padding: 15px;
    }

    @media (max-width: 650px) {
        #{$parent} h1 {
            font-size: 75px;
        }

        #{$parent} .title {
            padding: 8px;
        }

    }

    #{$parent} h3 {
        font-weight: 200;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }

    #{$parent} h4 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 200;
        font-size: 22px;
        line-height: 1.1;
        text-align: left;
    }

    #{$parent} h5 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 200;
        font-size: 20px;
        line-height: 1;
        text-align: left;
    }

    #{$parent} div.warning {
        position: relative;
        display: inline-block;
        margin-left: 20px;
    }

    #{$parent} .fancy_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        justify-content: space-around;
    }

    #{$parent} .fancy_list li {
        margin-right: 15px;
    }

    #{$parent} .fancy_list a {
        padding: 5px;
        padding-top: 8px;
        text-decoration: none;
    }

    #{$parent} .fancy_list a:hover {
        padding: 5px;
        padding-top: 8px;
        text-decoration: none;
    }

    /*picture at top of page (behind my name)*/
    #{$parent} .header {
        text-align: center;
        position: relative;
        top: 0;
        z-index: 5;
        display: grid;
        grid-template-rows: 12em auto;
        grid-template-columns: max-content 1fr;
        justify-content: center;
        align-content: center;
        grid-column-gap: 1em;
        max-width: 80%;
        width: 80%;
        margin-bottom: 2em;
    }

    #{$parent} #header_img {
        width:  12em;
        height: 12em;
        border-radius: 6em;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: auto;
    }

    #{$parent} .header .info {
        grid-column: 1 / span 1;
        grid-row: 2 / 2;

        display: inline-block;
        margin: 0.25em auto 0 auto;
        padding-top: 0.1em;
        line-height: 1.75;
    }

    #{$parent} .header .info .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: .25em;
    }

    #{$parent} .header .info .links .fa, #{$parent} .header .info .links .fa-brands  {
        font-size: 1.5em;
    }

    #{$parent} .name {
        font-size: 1.75em;
        font-weight: 400;
        text-align: center;
        line-height: 0.85;
        margin-top: .25em;
/*        font-style: italic;*/
/*        font-variant-caps: small-caps;*/
    }

    #{$parent} .header .section_text {
        grid-column: 2 / 2;
        grid-row: 1 / span 2;
        margin: 0;
        padding-top: 1em;
        text-align: left;
    }

    #{$parent} .header .fa {
        font-size: 1.75em;
    }

    #{$parent} table {
        border-spacing: 10px 0;
    }

    /* Align first column right and other columns left
    * https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
    */
    #{$parent} td {
        vertical-align:top;
    }

    #{$parent} .talk_date {
        width: 5em;
    }

    #{$parent} .venue, #{$parent} .talk_venue {
        font-style: italic;
    }

    #{$parent} .venue a, #{$parent} .talk_venue a {
        text-decoration: none;
        font-weight: normal;
    }

    @media (max-width: 970px) {
        #{$parent} .name_box {
            /* font-size: 6em; */
        }

        #{$parent} h3 {
            font-size: 2em;
            font-weight: normal;
        }

        #{$parent} h4 {
            text-align: left;
            font-weight: normal;
        }

        #{$parent} h2, #{$parent} .section_header {
            margin-left: 10pt;
        }

        #{$parent} .talk_venue {
            display: inline-block;
            clear: left;
        }
    }

    @media (max-width: 710px) {
        #{$parent} .header {
            width: 100vw;
            max-width: 100%;
            overflow: hidden;
            grid-template-rows: min-content min-content auto;
            grid-template-columns: auto;
        }

        #{$parent} #header_img {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }

        #{$parent} .name {
            grid-column: 1 / span 1;
            grid-row: 2 / 2;
        }

        #{$parent} .header .section_text {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }

        #{$parent} .project_header {
            flex-direction: column;
            align-items: center;
            text-align: left;
        }


        #{$parent} .misc_project_list .project_header {
            flex-direction: column; /* put images below text on thin screens */
        }

        #{$parent} .project_header .image {
            display: inline-block;
            width: 100%;
            max-height: 300px;
            text-align: center;
            margin-top: 0;
        }

        #{$parent} .project_header .text {
            padding: 0;
            text-align: center;
        }

        #{$parent} .project_header .text .project_title {
            margin: 0;
            text-align: center;
        }

        #{$parent} .project_header .text .award {
            margin: 0;
        }

        #{$parent} .project_header .text .mini_abstract {
            margin-top: .5em;
            text-align: left;
        }

        /* more spacing for clicking on mobile */
        #{$parent} .section_panel .project_links {
            line-height: 1.75; 
        }

        #{$parent} .section_panel .project_links a {
            margin-left: .5em;
        }

        #{$parent} .section_panel .project_links summary {
            padding-left: .2em;
        }

        #{$parent} .bibBox {
            margin-right: .25em;
        }

        #{$parent} .talk_date {
            width: 3em;
        }

        #{$parent} .misc_project_list .project_header {
            max-width: 75%;
        }
    }

    @media (max-width: 450px) {
        #{$parent} .name_box {
            font-size: 3em;
        }
        #{$parent} .body {
            width: 100vw;
        }
    }

    #{$parent} #background_image {
        z-index: -10;
    }

    #{$parent} .space_under {
        display: inline-block;
        margin-bottom: .5em;
    }

    #{$parent} .award_details {
        font-style: italic;
    }

    #{$parent} details {
        margin-bottom: 1em;
    }

    #{$parent} .footer {
        box-sizing: border-box;


        text-align: center;

        padding: 2em;
        margin-top: 50vh;
        position: relative;
        z-index: 200;
    }

    @media (max-width: 970px) {
        #{$parent} .footer {
            margin-top: 2em;
        }
    }

    #{$parent} a {
        /*text-decoration: none;*/
        font-weight: 500;
        display: inline-block;
    }
}
