/* One column layout */
@mixin layout($map, $parent: "html") {
    #{$parent} body {
        margin: 0;
        padding: 0;
        font-family: 'Helvetica';
        line-height: 1.4;
        text-align: center;
    }
    #{$parent} #background_image {
        max-width: 1300px;
        width:  1040px;
        height: 520px;
        position: fixed;
        background-repeat: no-repeat;
        background-position: right;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin: auto;
        z-index: 1;
        background-image: none;

        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    @media (max-width: 1300px) {
        #{$parent} #background_image {
            max-width: 1300px;
            width:  80vw;
            height: 40vw;

            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
        }
    }

    @media (max-width: 970px), (max-height: 800px) {
        #{$parent} #background_image {
            opacity: 0 !important;
            transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -webkit-transition: opacity .5s ease-in-out;
        }
    }

    #{$parent} .body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    #{$parent} .section_panel {
        max-width: 80%;
        width: 80%;
        padding-right: 1em;
        margin-bottom: 4em;
        box-sizing: border-box;
    }

    @media (max-width: 970px) {
        #{$parent} .section_panel {
            width: 100%;
            max-width: 100%;
        }

        #{$parent} .project_title {
            font-size: 20pt !important;
        }
    }

    #{$parent} .section_text {
        padding: 1em;
        padding-top: 4em;
        margin-top: -3em;
    }

    #{$parent} .project_header {
        display: flex; /* equal child height */
    }

    #{$parent} #misc .project_header {
        margin-bottom: 2em;
    }

    #{$parent} .project_header .image {
        flex: 0 0 30%;
        width: 30%;

        display: flex;
        align-items: center;
    }

    #{$parent} .project_header .image img {
        max-width: 100%;
        max-height: 12em;
        margin: auto;
    }

    #{$parent} .project_header .text {
        flex: 1 1 70%;
        // display: flex;
        // align-items: center;
        margin-left: 1em;
        width: 100%;
    }

    #{$parent} .project_header .text .project_title {
        font-family: 'Helvetica';
        font-weight: 300;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }

    #{$parent} .project_header .text .venue, .project_author_list {
        line-height: 1.4;
        padding-left: 1em;
    }

    #{$parent} .project_author_list a {
        text-decoration: none;
    }

    #{$parent} .project_header .text .mini_abstract {
        line-height: 1.4;
        padding-left: 1em;
    }

    #{$parent} .section_panel .project_links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 3em;
    }

    #{$parent} .section_panel .project_links a {
        margin-left: 1em;
    }

    #{$parent} .noise {
        position: fixed;
        background-repeat: repeat;
        background-position: right;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .05;
        z-index: -1;
        /*background-image: url('stolen-noise.jpg');*/
    }

    #{$parent} .title h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #{$parent} .title h4 {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 1em;
    }

    #{$parent} .title {
        padding-top:  3em;
        padding-left: 3em;
        position: relative;
        z-index: 1;
    }

    #{$parent} .title-img {
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: bottom right;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .25;
        z-index: -1;
    }

    #{$parent} .page-content {
        text-align: left;
        max-width: 1200px;
        margin: auto;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    #{$parent} .section {
        flex-direction: column;
    }

    #{$parent} .subsection {
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
    }

    #{$parent} .section-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 2em;
    }

    #{$parent} .section-content > div {
        margin-left: 15px;
        margin-right: 15px;
    }

    #{$parent} .section-content > :first-child {
        margin-left: 30px;
    }

    #{$parent} .section-content > :last-child {
        margin-right: 30px;
    }

    #{$parent} .section-content {
        text-align: justify;
    }

    #{$parent} .subsection-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #{$parent} .section-text {
        width: 80%;
        max-width: 400px;
        margin-bottom: 1em;
    }

    #{$parent} h1 {
        font-family: 'Helvetica';
        font-weight: 600;
        font-size: 150px;
        line-height: 1;
        max-width: 800px;
        margin: 0;
        margin-bottom: 5px;
    }

    #{$parent} h2, #{$parent} .section_header {
        box-sizing: border-box;
        font-family: 'Helvetica';
        font-weight: 400;
        font-size: 60px;
        text-align: left;
        line-height: 1;

        z-index: 10;
        position: relative;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-left: -10px;
        padding: 15px;
    }

    @media (max-width: 650px) {
        #{$parent} h1 {
            font-size: 75px;
        }

        #{$parent} .title {
            padding: 8px;
        }

    }

    #{$parent} h3 {
        font-family: 'Helvetica';
        font-weight: 200;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }

    #{$parent} h4 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Helvetica';
        font-weight: 200;
        font-size: 22px;
        line-height: 1.3;
        text-align: left;
    }

    #{$parent} div.warning {
        position: relative;
        display: inline-block;
        margin-left: 20px;
    }

    #{$parent} .fancy_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        justify-content: space-around;
    }

    #{$parent} .fancy_list li {
        margin-right: 15px;
    }

    #{$parent} .fancy_list a {
        padding: 5px;
        padding-top: 8px;
        text-decoration: none;
    }

    #{$parent} .fancy_list a:hover {
        padding: 5px;
        padding-top: 8px;
        text-decoration: none;
    }
    .section-content img {
        display: block;
        max-width: 300px;
        height: auto;
    }



    /*picture at top of page (behind my name)*/
    #{$parent} .header {
        text-align: center;
        position: relative;
        top: 0;
        z-index: 5;
        display: grid;
        grid-template-rows: 12em auto;
        grid-template-columns: max-content 1fr;
        justify-content: center;
        align-content: center;
        grid-column-gap: 1em;
        max-width: 80%;
        width: 80%;
        margin-bottom: 1em;
    }

    #{$parent} #header_img {
        width:  12em;
        height: 12em;
        border-radius: 6em;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: auto;
    }

    #{$parent} .info {
        grid-column: 1 / span 1;
        grid-row: 2 / 2;

        display: inline-block;
        margin: 0.25em auto 0 auto;
        padding-top: 0.1em;
    }

    #{$parent} .name {
        font-size: 2em;
        font-family: 'Helvetica', sans-serif;
        font-weight: 800;
        text-align: left;
        line-height: 0.85;
    }

    #{$parent} .header .section_text {
        grid-column: 2 / 2;
        grid-row: 1 / span 2;
        margin: 0;
        padding-top: 1em;
        text-align: left;
    }

    #{$parent} .header .fa {
        font-size: 1.75em;
    }

    @media (max-width: 970px) {
        #{$parent} .name_box {
            /* font-size: 6em; */
        }
    }

    @media (max-width: 710px) {
        #{$parent} .header {
            width: 100vw;
            max-width: 100%;
            overflow: hidden;
            grid-template-rows: min-content min-content auto;
            grid-template-columns: auto;
        }

        #{$parent} #header_img {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }

        #{$parent} .name {
            grid-column: 1 / span 1;
            grid-row: 2 / 2;
        }

        #{$parent} .header .section_text {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }

        #{$parent} .project_header {
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

        #{$parent} .project_header .image {
            display: inline-block;
            width: 100%;
            max-width: 300px;
        }

    }

    @media (max-width: 450px) {
        #{$parent} .name_box {
            font-size: 3em;
        }
        #{$parent} .body {
            width: 100vw;
        }

        #{$parent} h3 {
            font-size: 2em;
            font-weight: 400;
        }

        #{$parent} h4 {
            text-align: left;
            font-weight: 400;
        }
    }

    #{$parent} .wrapper {
        z-index: 10;
        position: relative;
    }

    #{$parent} .space_under {
        padding-bottom: 1em;
    }

    #{$parent} table {
        border-spacing:10px 0;
    }

    /* Align first column right and other columns left
    * https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
    */
    #{$parent} td {
        vertical-align:top;
    }

    #{$parent} details {
        margin-bottom: 1em;
    }

    #{$parent} .footer {
        box-sizing: border-box;


        text-align: center;

        padding: 2em;
        margin-top: 50vh;
        position: relative;
        z-index: 200;
    }

    @media (max-width: 970px) {
        #{$parent} .footer {
            margin-top: 2em;
        }
    }

    #{$parent} a {
        /*text-decoration: none;*/
        font-weight: 500;
        display: inline-block;
    }
}
