/* Project page layout */
@mixin layout($map, $parent: "html") {
    @import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400');

    #{$parent} body {
        margin: 0;
        padding: 0;
        font-family: 'Charis SIL', 'Palatino', serif;
        line-height: 1.4;
        text-align: center;
    }

    #{$parent} .cpp {
        font-family: monospace; /* for typesetting the word "C++" */
    }

    #{$parent} .body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    #{$parent} .page-content {
        text-align: justify;
        max-width: 1200px;
        margin: auto;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    /*picture at top of page (behind my name)*/
    #{$parent} .header {
        text-align: center;
        position: relative;
        top: 0;
        z-index: 5;
    }

    #{$parent} .paper_teaser {
        max-width: 80%;
        display: inline-block;
        padding: 0.25em;
        padding-bottom: 0pt;
        margin-bottom: -7pt;
        overflow: hidden;
    }

    #{$parent} .paper_teaser > img {
        width: 100%;
        display: inline-block;
        margin: 0;
    }

    #{$parent} .name_box {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        margin-bottom: 15px;
    }

    #{$parent} .name_box > .title {
        font-size: 2em;
        line-height: 1;
        margin-bottom: 0.1em;
    }

    #{$parent} .name_box > .venue {
        font-size: 1.25em;
        margin-bottom: .25em;
    }

    #{$parent} .name_box > .award {
        display: inline-block;
        font-size: 1.1em;
        border-radius: .75em;
        padding: .15em .5em;
        margin: 0em 0em .75em 0em ;
    }

    #{$parent} .name_box > .award > a {
        text-decoration: none;
    }

    #{$parent} .name_box > .authors {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #{$parent} .name_box > .authors > .author {
        margin-left: 0.5em;
        margin-right: 0.5em;
        line-height: 1;
    }

    #{$parent} .name_box > .authors > .author > .name {
        font-weight: 600;
        display: block;
        margin-bottom: 0.5em;
    }

    #{$parent} .name_box > .authors > .author > .name > a {
        text-decoration: none;
    }

    #{$parent} .name_box > .authors > .author > .affiliation {
        display: block;
        margin-top: -0.25em;
        font-size: .9em;
    }

    #{$parent} .quick_links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 .5em;
        margin-bottom: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
    }


    #{$parent} .quick_links a::before {
        content: "[";
    }

    #{$parent} .quick_links a::after {
        content: "]";
    }

    /*#{$parent} .abstract::before {
        content: "Abstract: ";
        font-weight: 600;
    }*/

    #{$parent} .abstract {
        text-align: justify;
        width: 95%;
        padding-left: auto;
        display: inline-block; /* center */
    }

    #{$parent} .section_header {
        box-sizing: border-box;
        font-family: 'Helvetica';
        font-weight: 600;
        font-size: 1.5em;
        text-align: left;
        line-height: 1;

        z-index: 10;
        position: relative;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 20px;
        position: relative;
        display: inline-block;
        margin-left: -10px;
        margin-top: -1.5em;
        padding: 15px;
    }


    #{$parent} .section_panel {
        width: auto; /* undo a width: 100% from somewhere else */
        max-width: 400px;
        margin: 1em;
        box-sizing: border-box;
        display: inline-block;
    }

    #{$parent} .figures {
        max-width: 600px;
    }

    #{$parent} .figures .section_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #{$parent} .figures .section_text hr {
        width: 100%;
    }

    #{$parent} .figures img{
        max-width: 80%;
    }

    #{$parent} .figures .caption, #{$parent} .caption {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        font-size: .9em;
        line-height: 1.2;
    }

    #{$parent} .section_text {
        padding: 1em;
        padding-top: 3em;
        margin-top: -2.25em;
    }

    #{$parent} .section_text > .paper-preview > img {
        width: 128px;
        display: inline-block;
    }

    #{$parent} .example_grid_container {
        max-width: 100%;
    }

    #{$parent} .example_grid {
        display: flex;
        flex-wrap: wrap;
    }

    #{$parent} .example_grid .example_grid_entry {
        max-width: 32%;
        margin: auto;
        text-align: center;
    }

    #{$parent} .example_grid .example_grid_entry .caption {
        text-align: left;
    }

    #{$parent} .bibEntry {
        font-family: monospace;
        word-wrap: break-word;
        text-align: left;
        white-space: pre-wrap;
    }

    #{$parent} .headline {
        text-align: left;
        margin-bottom: 1em;
    }

    #{$parent} .headline a {
        font-style: italic;
        text-decoration: none;
    }

    #{$parent} .headline .source {
        text-align: right;
    }

    #{$parent} .footer {
        box-sizing: border-box;

        text-align: center;

        padding: 2em;
        margin-top: 15vh;
        position: relative;
        z-index: 200;
    }

    @media (max-width: 970px) {
        #{$parent} .footer {
            margin-top: 2em;
        }

        #{$parent} .example_grid .example_grid_entry {
            max-width: 48%;
        }
    }

    @media (max-width: 710px) {
        #{$parent} .abstract {
            text-align: left;
        }

        #{$parent} .name_box > .authors {
            flex-direction: column;
            max-width: 80%;
            margin: auto;
            display: block;
            text-align: left;
        }

        #{$parent} .name_box > .authors > .author {
            display: flex;
            align-items: start;
            margin-bottom: 0.3em;
        }

        #{$parent} .name_box > .authors > .author > .name {
            margin-bottom: 0;
            margin-right: 0.5em;
            flex: 0 0 auto;
        }

        #{$parent} .name_box > .authors > .author > .name::after {
            content:',';
        }

        #{$parent} .name_box > .authors > .author > .affiliation {
            margin: 0;
        }

        #{$parent} .paper_teaser {
            max-width: 100%;
        }

        #{$parent} .figures img{
            max-width: 100%;
        }

        /* more spacing for clicking on mobile */
        #{$parent} .quick_links {
            line-height: 1.75; 
        }

        #{$parent} .example_grid .example_grid_entry {
            max-width: 100%;
        }

        #{$parent} .example_grid .example_grid_entry img {
            max-width: 80%;
        }
    }

    @media (max-width: 450px) {
        /* line break between "ACM Transactions on Graphics" and "SIGGRAPH" */
        #{$parent} .name_box > .venue {
            max-width: 15em;
            margin: auto;
            margin-bottom: .25em;
            line-height: 1;
        }

    }

}
