a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

div.content{width:600px; margin-left: auto; margin-right: auto; margin-top: 15px; 
		padding-left: 15px; padding-bottom: 15px;
		border:black 1px solid}
	.image{float: right; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; border: black 1px solid}
/*
     FILE ARCHIVED ON 15:05:15 Apr 24, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:56:07 Jan 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.754
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 20.519
  LoadShardBlock: 56.684 (3)
  PetaboxLoader3.datanode: 86.502 (4)
  load_resource: 165.023
  PetaboxLoader3.resolve: 118.736
*/