@use 'setcolors' as sc;

@mixin darkmode($parent:"html") {
@include sc.setcolors((
    accent : #558,
    blank-space : #111,
    background-color: #222,
    foreground-color: #334e,
    shadow-color: #777,

    note-section-color:#338,

    name-color: #c1c1d8,
    ordinary-font-color: #ddd,
    accent-font-color: #bbb,
    link-color: #bdf,
    link-hover-color: #c9f,
    menu-font-color: #bbb
), $parent);

@include sc.setTorusColors((
    body-color: #a7eb,
    shell-color: #bbf,
    stroke-color: #000,
    body-opacity:0.8,
    shell-opacity:0.8,
), $parent);

#{$parent} #background_image svg {
    opacity: 0.75;
}
}

@mixin lightmode($parent:"html") {
@include sc.setcolors((
    accent : #de3d83,
    blank-space : #fef9f7,
    background-color: #dbf4ff,
    foreground-color: #cde6f7f2,
    shadow-color: #000,

    note-section-color:#01a1df,

    name-color: #000,
    ordinary-font-color: #000,
    accent-font-color: #f4f4f4,
    link-color: #4783D5,
    link-hover-color: #ee4d93,
    menu-font-color: #333
), $parent);

@include sc.setTorusColors((
    body-color: #F15A24,
    shell-color: #662D91,
    stroke-color: #000,
    body-opacity:0.4,
    shell-opacity:0.4,
), $parent);
}

@media (prefers-color-scheme: dark) {
    @include darkmode();
}

@media (prefers-color-scheme: light) {
    @include lightmode();
}

@include darkmode("html.darkmode");
@include lightmode("html.lightmode");

#darkmode-checkbox {
	  width: 0;
	  height: 0;
    margin: 0;
	  visibility: hidden;
}
html.darkmode #darkmode-checkbox-label::after {
	  content: "\263C";
}
html.lightmode #darkmode-checkbox-label::after {
	  content: "\263D";
}

