#processing_title {
  text-align: center;
  font-size: 1.5em;
}

/*@media (max-width: 1000px) and (min-width: 800px) {

}*/

@media (max-width: 1000px) {
  div.processing_window {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: none;
    margin-bottom: 1em;
  }

  div.processing_button_tray {
    text-align: center;
  }

  span.processing_button {
    cursor: pointer;
    margin-left: 1em;
    color: #407C00;
    display: inline-block;
  }

  span.processing_button:hover{
    color: #407C00;
    text-shadow: 0 0 3px #6F6;
  }

  span.selected_processing_button{
    color: #407C00;
    text-shadow: 0 0 3px #6F6;
    cursor: pointer;
    margin-left: 1em;
    display: inline-block;
  }
}

@media (min-width: 1000px) {
  div.processing_window {
    width: 660px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.processing_button_tray {
    width: 150px;
    float: right;
  }

  span.processing_button {
    width: 80%;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    float:right;
    margin: 5px;
    position: relative;
    height: 60px;
    color: #555;
  }

  span.processing_button:hover {
    cursor: pointer;
    color: #407C00;
  }

  span.processing_button:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #BBB;
    border-width: 20px;
    margin-top: -20px;
  }

  span.processing_button:hover:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #4F9900;
    border-width: -20px;
    margin-top: -20px;
  }

  span.selected_processing_button {
    width: 80%;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    float:right;
    margin: 5px;
    position: relative;
    height: 60px;
    color: #407C00;
  }

  span.selected_processing_button:hover {
    cursor: pointer;
    color: #4F9900;
  }

  span.selected_processing_button:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  span.selected_processing_button:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #4F9900;
    border-width: 30px;
    margin-top: -30px;
  }
}

#processing_description {
  margin-bottom: 2em;
}

#processing_source_hider {
  margin-bottom: 1em;
  position: relative;
  padding: 0.5em;
  color: #999;
  width: 120px;
  display: inline-block;
}

#processing_source_hider:after {
  left: 110px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #BBB;
  border-width: 10px;
  margin-top: -10px;
}

#processing_source_hider:hover {
  cursor: pointer;
  color: #777;
}

#processing_source_hider:hover:after {
  border-left-color: #999;
}

#processing_source_hider.selected {
  color: #999;
}

#processing_source_hider.selected:after {
  top: 70%;
  border-left-color: rgba(0,0,0,0);
  border-top-color: #BBB;
}

#processing_source_hider:hover {
  cursor: pointer;
  color: #777;
}

#processing_source_hider.selected:hover:after {
  border-top-color: #999;
}

#processing_source_container {
  display: none;
  margin-top: 1em;
  position: relative;
}

#processing_source_wrapper {
  margin-top: 1em;
}

span.processing_source_file_option {
  background-color: #55524F;
  padding: 1em;
  color: #FFF;
  border-top-left-radius:1em;
  border-top-right-radius:1em;
}

span.processing_source_file_option:hover {
  background-color: #4D4A46;
  cursor: pointer;
}

span.processing_source_file_option_selected {
  padding: 1em;
  color: #FFF;
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  background-color: #32302E;
}

span.processing_source_file_option_selected:hover {
  cursor: pointer;
}