#processing_title {
  text-align: center;
  font-size: 1.5em;
}

/*@media (max-width: 1000px) and (min-width: 800px) {

}*/

@media (max-width: 1000px) {
  div.processing_window {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: none;
    margin-bottom: 1em;
  }

  div.processing_button_tray {
    text-align: center;
  }

  span.processing_button {
    cursor: pointer;
    margin-left: 1em;
    color: #407C00;
    display: inline-block;
  }

  span.processing_button:hover{
    color: #407C00;
    text-shadow: 0 0 3px #6F6;
  }

  span.selected_processing_button{
    color: #407C00;
    text-shadow: 0 0 3px #6F6;
    cursor: pointer;
    margin-left: 1em;
    display: inline-block;
  }
}

@media (min-width: 1000px) {
  div.processing_window {
    width: 660px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.processing_button_tray {
    width: 150px;
    float: right;
  }

  span.processing_button {
    width: 80%;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    float:right;
    margin: 5px;
    position: relative;
    height: 60px;
    color: #555;
  }

  span.processing_button:hover {
    cursor: pointer;
    color: #407C00;
  }

  span.processing_button:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #BBB;
    border-width: 20px;
    margin-top: -20px;
  }

  span.processing_button:hover:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #4F9900;
    border-width: -20px;
    margin-top: -20px;
  }

  span.selected_processing_button {
    width: 80%;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    float:right;
    margin: 5px;
    position: relative;
    height: 60px;
    color: #407C00;
  }

  span.selected_processing_button:hover {
    cursor: pointer;
    color: #4F9900;
  }

  span.selected_processing_button:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  span.selected_processing_button:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #4F9900;
    border-width: 30px;
    margin-top: -30px;
  }
}

#processing_description {
  margin-bottom: 2em;
}