@mixin setcolors($map, $parent:"body") {
    $accent : map-get($map, 'accent');
    $blank-space : map-get($map, 'blank-space');
    $background-color: map-get($map, 'background-color');
    $foreground-color: map-get($map, 'foreground-color');
    $shadow-color: map-get($map, 'shadow-color');

    $note-section-color: map-get($map, 'note-section-color');
    $note-section-color-1: rgba($note-section-color, 0.125);
    $note-section-color-2: rgba($note-section-color, 0.25);
    $note-section-color-3: rgba($note-section-color, 0.375);
    $note-section-color-4: rgba($note-section-color, 0.5);

    $name-color: map-get($map, 'name-color');
    $ordinary-font-color: map-get($map, 'ordinary-font-color');
    $accent-font-color: map-get($map, 'accent-font-color');
    $link-color: map-get($map, 'link-color');
    $menu-font-color: map-get($map, 'menu-font-color');

    #{$parent} {
        background-color: $blank-space;
        color: $ordinary-font-color;
    }

    #{$parent} .section_text {
        background-color: $foreground-color;
        box-shadow: 1px 1px 3px rgba($shadow-color, .3);
    }

    #{$parent} .nav a {
        color: #444;
        &:hover {
            background-color: $accent;
            color: $accent-font-color;
        }
    }

    #{$parent} .navbar_item {
        color: $menu-font-color;
    }

    #{$parent} #style-menu ul {
        // background-color: $foreground-color;
        // box-shadow: 0px 8px 16px 0px rgba($shadow-color,0.2);

        & button {
            border: none;
            font-size: 1.25em;
            color: $accent-font-color;
            background-color: $accent;
            border-radius: 0.75em;
        }
    }

    /* Only apply hover effect when the user is using a mouse-like controller. Eliminate
     * sticky hover on mobile.
     * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
    @media (hover:hover) {
        #{$parent}  .navbar_item:hover, #{$parent} .selected>.navbar_item {
            color: $accent-font-color;
            background-color: $accent;
        }
    }

    #{parent} #header_img {
        box-shadow: 1px 1px 3px rgba($shadow-color, .3);
    }


    #{$parent} .page-content {
        background-color: $background-color;
        box-shadow: 1px 1px 10px rgba($shadow-color, .3);
    }

    #{$parent} .section {
        box-shadow: 1px 1px 5px rgba($shadow-color, .1);
    }

    #{$parent} .section:nth-child(4n+1) {
        background-color: $note-section-color-1;
    }

    #{$parent} .section:nth-child(4n+2) {
        background-color: $note-section-color-2;
    }

    #{$parent} .section:nth-child(4n+3) {
        background-color: $note-section-color-3;
    }

    #{$parent} .section:nth-child(4n+0) {
        background-color: $note-section-color-4;
    }

    #{$parent} h1 {
        color: $accent-font-color;
    }

    #{$parent} h2, #{$parent} .section_header {
        background-color: $accent;
        color: $accent-font-color;
        box-shadow: 1px 1px 10px rgba($shadow-color, .3);
    }

    #{$parent} h3 {
        color: $ordinary-font-color;
    }

    #{$parent} h4 {
        color: $ordinary-font-color;
    }

    #{$parent} div.warning {
        border-top: 3px solid $accent;
    }

    #{$parent} .fancy_list a {
        color: #333;
        &:hover {
            background-color: $accent;
            color: #eee;
        }
    }

    #{$parent} .name_box {
        color: $name-color;
    }

    #{parent} .fancy-image {
        box-shadow: 1px 1px 10px rgba($shadow-color, .3);
    }

    #{$parent} .footer {
        background-color: #354040;
        color: #FFF;

        & a {
            color: #fff;
        }
    }

    #{$parent} a {
        color: $link-color;
    }
}
