* {
  box-sizing: border-box; 
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: 'Raleway', sans-serif;
  background-image: url("../images/random_walk.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  background-color: #EAE3EA;
}

p {
  text-indent: 2em;
}

a {
  color: #4783A5;
  /*text-decoration: none;*/
  font-weight: 500;
}

a:hover {
  color: #456395;
  /*text-shadow: 0 0 3px #6F6;*/
  text-decoration: underline;
}

/*location of link for navbar to go to*/
div.section_link_spot {
  padding-top: 50px;
  margin-top: -50px;
}

/*title of a section*/
div.section_header {
  text-align: center;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  background-color: #A7B3A5;
  color: #FFF;
  padding: 1em;
}

/*text of a section*/
div.section_text {
  margin-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

/*text of a section*/
div.section_panel {
  margin-bottom: 5em;
  background-color: #FFF;
}

div.accent_header {
  text-align: center;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  background-color: #B56357;
  color: #FFF;
  padding: 1em;
}

/*text of a section*/
div.accent_text {
  margin-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  color: #DEE;
}

div.accent {
  background-color: #B56357
}

/*horizontal line*/
hr {
  width: 80%;
}

/*picture at top of page (behind my name)*/
div.header {
  text-align: center;
  font-size: 3em;
  font-family: Serif;

  padding-top: 6em;
  padding-bottom: 6em;
  margin-left: -1px;
  text-align: center;
}

div.body {
  overflow: hidden;
  padding-bottom: 142px;
  padding-left: 0em;
  padding-right: 0em;
}

div.panel {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

@media (max-width: 800px) {
  #center_panel.panel {
    width: 100%;
  }

  #right_panel.panel {
    width: 100%;
    float: left;
  }

  div.header {
    padding-top: 0em;
    padding-bottom: 2em;
    margin-left: -1px;
    text-align: center;
  }

  body {
    background-image: none;
  }
}

@media (min-width: 800px) and (max-width: 1000px){

  #center_panel.panel {
    width: 70%;
  }

  #right_panel.panel {
    width: 30%;
  }
}

@media (min-width: 1000px) {
  #left_panel_spacer.panel{
    width:10%;
    height: 1em;
  }

  #center_panel.panel {
    width: 50%;
  }

  #right_panel.panel {
    width: 30%;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

h3 {
  color: #87A3A5;
  font-size: 1.3em;
  margin-bottom: 5px;
}

h4 {
  color: #87A3A5;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

ul {
  margin-top: 0;
}

table {
  border-spacing:10px
}

/* Align first column right and other columns left
 * https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
 */
td {
  vertical-align:top;
  text-align: left;
}

#classes td:first-child {
  text-align: right;
  white-space: nowrap;
}

.footer {
  box-sizing: border-box;

  position: relative;
  margin-top: -142px; 
  height: 142px;

  background-color: #354040;

  text-align: center;;
  color: #FFF;

  clear:both;

  padding: 2em;
} 

a.footer_email {
  color: #FFF;
  text-decoration: none;
}

a.footer_email:hover {
  text-shadow: 0 0 0 #000;
}

input {
  display: none;
  visibility: hidden;
}

label {
  color: #87A3A5;
  font-size: 1.2em;

  display: block;
  padding: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #CCC;
}

label:hover {
  color: #3783A5;
}

label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-middle;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

#expand_DDG {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle_DDG:checked ~ #expand_DDG {
  height: 2753px;
}

#toggle_DDG:checked ~ label::before {
  content: "-";
}

#expand_int {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle_int:checked ~ #expand_int {
  height: 250px;
}

#toggle_int:checked ~ label::before {
  content: "-";
}

img {
  box-shadow: 0px 0px 5px 5px gray;
  margin: 9px;
}
