* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

div.wrapper {
  background-image: url("../images/random_walk.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position-y: 4em;

  background-color: #EEF;
}

p {
  text-indent: 2em;
}

a {
  color: #4783A5;
  /*text-decoration: none;*/
  font-weight: 500;
}

a:hover {
  color: #456395;
  /*text-shadow: 0 0 3px #6F6;*/
  text-decoration: underline;
}

/*location of link for navbar to go to*/
div.section_link_spot {
  padding-top: 50px;
  margin-top: -50px;
}

/*title of a section*/
div.section_header {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #673ab7;
  color: #FFF;
  padding: 1em;
  padding-bottom: 0.5em;
  border-bottom: solid 0.5em #7c4dff;
}

/*text of a section*/
div.section_text {
  margin-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

/*text of a section*/
div.section_panel {
  margin-bottom: 5em;
  background-color: #FFF;
  box-shadow: 0px 0px 8px 1px #999;
}

div.accent_header {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #9c27b0;
  color: #FFF;
  padding: 1em;
  padding-bottom: 0.5em;
  border-bottom: solid 0.5em #e040fb;
}

/*text of a section*/
div.accent_text {
  margin-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  color: #DEE;
}

div.accent {
  background-color: #B56357
}

/*horizontal line*/
hr {
  width: 80%;
}

/*picture at top of page (behind my name)*/
div.header {
  overflow: auto; /* Forces this div to contain its child's margins.
                   * This is useful because I want margins around my name,
                   * and I want my name to be totally contained in this box */
  text-align: center;
}

div.name_box {
  margin-top: 4em;
  margin-bottom: 2em;
  padding: 0.5em;
  text-align: center;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  display: inline-block;
  box-shadow: 0px 0px 8px 1px #999;

  background-color: #e91e63;
  padding-bottom: 0.2em;
  border-bottom: solid 0.3em #ff4081;
}

@media (max-width: 550px) {
  div.name_box {
    margin-top: 0.2em;
    margin-bottom: 1em;
  }
}

div.body {
  overflow: hidden;
  padding-bottom: 142px;
  padding-left: 0em;
  padding-right: 0em;
}

div.panel {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

@media (max-width: 550px) {
  div.wrapper {
    background-image: none;
  }
}

@media (max-width: 800px) {
  #center_panel.panel {
    width: 100%;
    float: right;
  }

  #right_panel.panel {
    width: 100%;
  }

  div.header {
    margin-left: -1px;
    text-align: center;
  }
}

@media (min-width: 800px) and (max-width: 1200px){

  #center_panel.panel {
    width: 70%;
  }

  #right_panel.panel {
    width: 30%;
    float: right;
  }
}

@media (min-width: 1200px) {

  div.body {
    max-width: 1200px;
    margin: auto;
  }

  #center_panel.panel {
    width: 70%;
  }

  #right_panel.panel {
    width: 30%;
    float: right;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

h3 {
  color: #5680E9;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 5px;
}

h4 {
  color: #5680E9;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

ul.pointless li {
  list-style-type: none;
}

ul {
  margin-top: 0;
}

table {
  border-spacing:10px
}

/* Align first column right and other columns left
 * https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
 */
td {
  vertical-align:top;
  text-align: left;
}

#classes td:first-child {
  text-align: right;
  white-space: nowrap;
}

.footer {
  box-sizing: border-box;

  position: relative;
  margin-top: -142px;
  height: 142px;

  background-color: #354040;

  text-align: center;;
  color: #FFF;

  clear:both;

  padding: 2em;
}

a.footer_email {
  color: #FFF;
  text-decoration: none;
}

a.footer_email:hover {
  text-shadow: 0 0 0 #000;
}

input {
  display: none;
  visibility: hidden;
}

label {
  color: #87A3A5;
  font-size: 1.2em;

  display: block;
  padding: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #CCC;
}

label:hover {
  color: #3783A5;
}

label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-middle;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

details {
  margin-bottom: 1em;
}

img {
  box-shadow: 0px 0px 8px 2px #BBB;
  margin: 9px;
}

img.animated-gif {
  max-width: 90%;
  height: auto;
}
