@charset "UTF-8";
/******************************/
/*         NAVBAR             */
/******************************/
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400");
html.darkmode {
  background-color: #111;
  color: #ddd;
}

html.darkmode .section_panel, html.darkmode .panel {
  background-color: rgba(51, 51, 68, 0.9333333333);
  box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
}

html.darkmode .nav a {
  color: #444;
}
html.darkmode .nav a:hover {
  background-color: #558;
  color: #ddd;
}

html.darkmode .navbar_item {
  color: #bbb;
}

html.darkmode #style-menu ul button {
  border: none;
  font-size: 1.25em;
  color: #ddd;
  background-color: #558;
  border-radius: 0.75em;
}

/* Only apply hover effect when the user is using a mouse-like controller. Eliminate
 * sticky hover on mobile.
 * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
@media (hover: hover) {
  html.darkmode .navbar_item:hover, html.darkmode .selected > .navbar_item {
    color: #ddd;
    background-color: #558;
  }
}
html.darkmode .breaking_news {
  background-color: #2a2a2a;
  border: 2pt solid white;
  box-shadow: 2px 2px 4px rgba(119, 119, 119, 0.1);
}

html.darkmode .section_text .news summary {
  color: #bdf;
}

html.darkmode .project_header .text .venue {
  color: #bdf;
}

html.darkmode .talk_venue a {
  color: #ddd;
}

html.darkmode .abstract:first-letter {
  color: #bdf;
  float: left;
  font-size: 5em;
  padding-top: 0.075em;
  padding-right: 0.05em;
}

html.darkmode .abstract .first-word {
  color: #bdf;
  margin-left: -0.1em;
  font-variant-caps: small-caps;
  /*        font-weight: 600;*/
}

html.darkmode .award {
  background-color: #db6334;
  border: 2px solid #e18f6f;
  color: #f4f4f4;
}
html.darkmode .award .description {
  color: rgba(244, 244, 244, 0.8);
}

html.darkmode .award:hover {
  color: #f4f4f4;
}

html.darkmode .project_author_list, html.darkmode .project_author_list a, html.darkmode .author .name a, html.darkmode .project_title a {
  color: #c1c1d8;
  text-decoration: none;
}

html.darkmode .project_author_list a:hover, html.darkmode .author .name a:hover, html.darkmode .project_title a:hover, html.darkmode .venue a:hover, html.darkmode .talk_venue a:hover {
  color: #c9f;
}

html.darkmode .headline, html.darkmode .headline a {
  color: #c1c1d8;
}

html.darkmode .headline a:hover {
  color: #c9f;
}

html.darkmode .child_lines div {
  border-bottom: 1px solid rgba(187, 221, 255, 0.3);
}

html.darkmode #header_img {
  box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
}

html.darkmode .page-content {
  background-color: #222;
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .section {
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.1);
}

html.darkmode .section:nth-child(4n+1) {
  background-color: rgba(51, 51, 136, 0.125);
}

html.darkmode .section:nth-child(4n+2) {
  background-color: rgba(51, 51, 136, 0.25);
}

html.darkmode .section:nth-child(4n+3) {
  background-color: rgba(51, 51, 136, 0.375);
}

html.darkmode .section:nth-child(4n+0) {
  background-color: rgba(51, 51, 136, 0.5);
}

html.darkmode h1 {
  color: #ddd;
}

html.darkmode h2, html.darkmode .section_header {
  background-color: #558;
  color: #ddd;
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode h3 {
  color: #ddd;
}

html.darkmode h4 {
  color: #ddd;
}

html.darkmode div.warning {
  border-top: 3px solid #558;
}

html.darkmode .fancy_list a {
  color: #333;
}
html.darkmode .fancy_list a:hover {
  background-color: #558;
  color: #eee;
}

html.darkmode .name_box {
  color: #c1c1d8;
}

html.darkmode .fancy-image {
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .paper-preview > img {
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .figures img {
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .name_box .venue {
  color: #bdf;
}

html.darkmode .footer {
  background-color: #354040;
  color: #FFF;
}
html.darkmode .footer a {
  color: #fff;
}

html.darkmode a, html.darkmode .bibBox button, html.darkmode .bibEntry button {
  color: #bdf;
}

html.darkmode a:hover, html.darkmode .bibBox button:hover, html.darkmode .bibEntry button:hover {
  color: #c9f;
}

html.darkmode .section_panel .project_links details summary {
  color: #bdf;
  text-decoration-line: underline;
}

html.darkmode .section_panel .project_links details summary:hover {
  color: #c9f;
}

html.darkmode .bibBox .bibliography {
  background-color: #22222b;
  box-shadow: 0.2em 0.2em 0.3em rgba(221, 221, 221, 0.7);
}

html.darkmode .st1 {
  display: inline;
  fill: none;
  stroke: #b9b9ff;
  stroke-miterlimit: 10;
}
html.darkmode .st2 {
  opacity: 0.4;
  fill: #babaff;
}
html.darkmode .st3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
html.darkmode .st4 {
  opacity: 0.47;
  fill: #babaff;
}
html.darkmode .st5 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st7 {
  fill: #FFFFFF;
}
html.darkmode .st8 {
  opacity: 0.15;
  fill: url(#SVGID_1_);
}
html.darkmode .st9 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.darkmode .st10 {
  opacity: 0.4;
  fill: rgba(170, 119, 238, 0.7333333333);
}
html.darkmode .st11 {
  opacity: 0.8;
  fill: rgba(170, 119, 238, 0.7333333333);
}
html.darkmode .st12 {
  opacity: 0.4;
  fill: rgba(170, 119, 238, 0.7333333333);
}
html.darkmode .st13 {
  opacity: 0.25;
}
html.darkmode .st14 {
  opacity: 0.5;
}
html.darkmode .st15 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.004, 2.002;
}
html.darkmode .st16 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0254, 2.0127;
}
html.darkmode .st17 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9756, 1.9878;
}
html.darkmode .st18 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0017, 2.0009;
}
html.darkmode .st19 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9496, 1.9748;
}
html.darkmode .st20 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9971, 1.9985;
}
html.darkmode .st21 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9753, 1.9877;
}
html.darkmode .st22 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9482, 1.9741;
}
html.darkmode .st23 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0047, 2.0023;
}
html.darkmode .st24 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9284, 1.9642;
}
html.darkmode .st25 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.007, 2.0035;
}
html.darkmode .st26 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9236, 1.9618;
}
html.darkmode .st27 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9244, 1.9622;
}
html.darkmode .st28 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9258, 1.9629;
}
html.darkmode .st29 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0023, 2.0012;
}
html.darkmode .st30 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0473, 2.0236;
}
html.darkmode .st31 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
html.darkmode .st32 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st33 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st34 {
  opacity: 0.8;
  fill: #bbf;
}
html.darkmode .st35 {
  opacity: 0.75;
  fill: #bbf;
}
html.darkmode .st36 {
  opacity: 0.9;
  fill: #bbf;
}
html.darkmode .st37 {
  opacity: 0.65;
  fill: #bbf;
}
html.darkmode .st38 {
  opacity: 0.7;
  fill: #bbf;
}
html.darkmode .st39 {
  opacity: 0.6;
  fill: #bbf;
}
html.darkmode .st40 {
  opacity: 0.65;
  fill: #bbf;
}
html.darkmode .st41 {
  opacity: 0.7;
  fill: #bbf;
}
html.darkmode .st42 {
  opacity: 0.75;
  fill: #bbf;
}
html.darkmode .st43 {
  fill: rgba(170, 119, 238, 0.7333333333);
}
html.darkmode .st44 {
  opacity: 0.4;
}
html.darkmode .st45 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.darkmode .st46 {
  opacity: 0.6;
  fill: #bbf;
}
html.darkmode .st47 {
  opacity: 0.55;
  fill: #bbf;
}
html.darkmode .st48 {
  opacity: 0.55;
  fill: #bbf;
}

html.darkmode #background_image svg {
  opacity: 0.75;
}

html.lightmode {
  background-color: #fef9f7;
  color: #000;
}

html.lightmode .section_panel, html.lightmode .panel {
  background-color: rgba(205, 230, 247, 0.9490196078);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

html.lightmode .nav a {
  color: #444;
}
html.lightmode .nav a:hover {
  background-color: #de3d83;
  color: #f4f4f4;
}

html.lightmode .navbar_item {
  color: #335;
}

html.lightmode #style-menu ul button {
  border: none;
  font-size: 1.25em;
  color: #f4f4f4;
  background-color: #de3d83;
  border-radius: 0.75em;
}

/* Only apply hover effect when the user is using a mouse-like controller. Eliminate
 * sticky hover on mobile.
 * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
@media (hover: hover) {
  html.lightmode .navbar_item:hover, html.lightmode .selected > .navbar_item {
    color: #f4f4f4;
    background-color: #de3d83;
  }
}
html.lightmode .breaking_news {
  background-color: #eaf9ff;
  border: 2pt solid #c6d8f1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

html.lightmode .section_text .news summary {
  color: #2E6ABD;
}

html.lightmode .project_header .text .venue {
  color: #2E6ABD;
}

html.lightmode .talk_venue a {
  color: #000;
}

html.lightmode .abstract:first-letter {
  color: #1E59AA;
  float: left;
  font-size: 5em;
  padding-top: 0.075em;
  padding-right: 0.05em;
}

html.lightmode .abstract .first-word {
  color: #1E59AA;
  margin-left: -0.1em;
  font-variant-caps: small-caps;
  /*        font-weight: 600;*/
}

html.lightmode .award {
  background-color: #de3d83;
  border: 2px solid #ae0d53;
  color: #f4f4f4;
}
html.lightmode .award .description {
  color: rgba(244, 244, 244, 0.8);
}

html.lightmode .award:hover {
  color: #f4f4f4;
}

html.lightmode .project_author_list, html.lightmode .project_author_list a, html.lightmode .author .name a, html.lightmode .project_title a {
  color: #000;
  text-decoration: none;
}

html.lightmode .project_author_list a:hover, html.lightmode .author .name a:hover, html.lightmode .project_title a:hover, html.lightmode .venue a:hover, html.lightmode .talk_venue a:hover {
  color: #ee4d93;
}

html.lightmode .headline, html.lightmode .headline a {
  color: #000;
}

html.lightmode .headline a:hover {
  color: #ee4d93;
}

html.lightmode .child_lines div {
  border-bottom: 1px solid rgba(46, 106, 189, 0.3);
}

html.lightmode #header_img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

html.lightmode .page-content {
  background-color: #dbf4ff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .section {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

html.lightmode .section:nth-child(4n+1) {
  background-color: rgba(1, 161, 223, 0.125);
}

html.lightmode .section:nth-child(4n+2) {
  background-color: rgba(1, 161, 223, 0.25);
}

html.lightmode .section:nth-child(4n+3) {
  background-color: rgba(1, 161, 223, 0.375);
}

html.lightmode .section:nth-child(4n+0) {
  background-color: rgba(1, 161, 223, 0.5);
}

html.lightmode h1 {
  color: #f4f4f4;
}

html.lightmode h2, html.lightmode .section_header {
  background-color: #de3d83;
  color: #f4f4f4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode h3 {
  color: #000;
}

html.lightmode h4 {
  color: #000;
}

html.lightmode div.warning {
  border-top: 3px solid #de3d83;
}

html.lightmode .fancy_list a {
  color: #333;
}
html.lightmode .fancy_list a:hover {
  background-color: #de3d83;
  color: #eee;
}

html.lightmode .name_box {
  color: #000;
}

html.lightmode .fancy-image {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .paper-preview > img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .figures img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .name_box .venue {
  color: #2E6ABD;
}

html.lightmode .footer {
  background-color: #354040;
  color: #FFF;
}
html.lightmode .footer a {
  color: #fff;
}

html.lightmode a, html.lightmode .bibBox button, html.lightmode .bibEntry button {
  color: #2E6ABD;
}

html.lightmode a:hover, html.lightmode .bibBox button:hover, html.lightmode .bibEntry button:hover {
  color: #ee4d93;
}

html.lightmode .section_panel .project_links details summary {
  color: #2E6ABD;
  text-decoration-line: underline;
}

html.lightmode .section_panel .project_links details summary:hover {
  color: #ee4d93;
}

html.lightmode .bibBox .bibliography {
  background-color: #e6f0f7;
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.7);
}

html.lightmode .st1 {
  display: inline;
  fill: none;
  stroke: #652d8f;
  stroke-miterlimit: 10;
}
html.lightmode .st2 {
  opacity: 0.4;
  fill: #652d90;
}
html.lightmode .st3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
html.lightmode .st4 {
  opacity: 0.47;
  fill: #652d90;
}
html.lightmode .st5 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st7 {
  fill: #FFFFFF;
}
html.lightmode .st8 {
  opacity: 0.15;
  fill: url(#SVGID_1_);
}
html.lightmode .st9 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.lightmode .st10 {
  opacity: 0.2;
  fill: #F15A24;
}
html.lightmode .st11 {
  opacity: 0.4;
  fill: #F15A24;
}
html.lightmode .st12 {
  opacity: 0.2;
  fill: #F15A24;
}
html.lightmode .st13 {
  opacity: 0.25;
}
html.lightmode .st14 {
  opacity: 0.5;
}
html.lightmode .st15 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.004, 2.002;
}
html.lightmode .st16 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0254, 2.0127;
}
html.lightmode .st17 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9756, 1.9878;
}
html.lightmode .st18 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0017, 2.0009;
}
html.lightmode .st19 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9496, 1.9748;
}
html.lightmode .st20 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9971, 1.9985;
}
html.lightmode .st21 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9753, 1.9877;
}
html.lightmode .st22 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9482, 1.9741;
}
html.lightmode .st23 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0047, 2.0023;
}
html.lightmode .st24 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9284, 1.9642;
}
html.lightmode .st25 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.007, 2.0035;
}
html.lightmode .st26 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9236, 1.9618;
}
html.lightmode .st27 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9244, 1.9622;
}
html.lightmode .st28 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9258, 1.9629;
}
html.lightmode .st29 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0023, 2.0012;
}
html.lightmode .st30 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0473, 2.0236;
}
html.lightmode .st31 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
html.lightmode .st32 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st33 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st34 {
  opacity: 0.4;
  fill: #662D91;
}
html.lightmode .st35 {
  opacity: 0.35;
  fill: #662D91;
}
html.lightmode .st36 {
  opacity: 0.5;
  fill: #662D91;
}
html.lightmode .st37 {
  opacity: 0.25;
  fill: #662D91;
}
html.lightmode .st38 {
  opacity: 0.3;
  fill: #662D91;
}
html.lightmode .st39 {
  opacity: 0.2;
  fill: #662D91;
}
html.lightmode .st40 {
  opacity: 0.25;
  fill: #662D91;
}
html.lightmode .st41 {
  opacity: 0.3;
  fill: #662D91;
}
html.lightmode .st42 {
  opacity: 0.35;
  fill: #662D91;
}
html.lightmode .st43 {
  fill: #F15A24;
}
html.lightmode .st44 {
  opacity: 0.4;
}
html.lightmode .st45 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.lightmode .st46 {
  opacity: 0.2;
  fill: #662D91;
}
html.lightmode .st47 {
  opacity: 0.15;
  fill: #662D91;
}
html.lightmode .st48 {
  opacity: 0.15;
  fill: #662D91;
}

#darkmode-checkbox {
  width: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
}

html.darkmode #darkmode-checkbox-label::after {
  content: "☼";
}

html.lightmode #darkmode-checkbox-label::after {
  content: "☽";
}

html.nojs #darkmode-toggle {
  display: none;
}

/* One column layout */ /* Two column layout */ /* Project page layout */ /* Two column layout */
body div.navbar {
  font-family: "Helvetica", sans-serif;
  padding-right: 1em;
  margin-bottom: 0.25em;
  overflow: visible;
  display: inline-block;
  width: 100%;
}

body .navbar_icon {
  display: none;
}

body a.navbar_link, body .navbar_buttons form {
  text-decoration: none;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 20;
}

body a.navbar_link:hover {
  text-decoration: none;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 1150px) {
  body .vanishing_early {
    display: none !important;
  }
}
@media (max-width: 970px) {
  body .vanishing {
    display: none !important;
  }
  body .section_panel {
    max-width: 100%;
    width: 100vw;
  }
  body .body {
    justify-content: left;
  }
}
body div.navbar_buttons {
  text-align: center;
  overflow: visible;
  float: right;
  margin-right: 1em;
}

body .navbar_item, body #style-menu > button {
  float: none;
  height: 100%;
  font-weight: 300;
  display: inline-block;
  font-size: 13pt;
  font-family: "Charis SIL", "Palatino", serif;
  /*        text-decoration-line: underline;*/
  font-variant-caps: small-caps;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 450px) {
  body .navbar_item {
    padding-left: 5px;
    padding-right: 5px;
    overflow: visible;
    z-index: 200;
  }
}
@media (min-width: 450px) and (max-width: 1100px) {
  body div.navbar {
    overflow: visible;
    z-index: 2;
    font-size: 0.9em;
  }
}
@media (min-width: 1100px) {
  body div.navbar {
    overflow: visible;
    z-index: 2;
  }
}
body #style-menu {
  display: inline-block;
  position: relative;
}

body #style-menu ul {
  z-index: 300;
  display: none;
  position: absolute;
  right: 0;
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  padding: 0;
}

body #style-menu li {
  margin: 0.25em;
}

body #style-menu ul a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body button.dropbtn {
  font-weight: 700;
  background: none;
  border: none;
  padding: 0;
}

body .dropdown a:hover {
  background-color: #ddd;
}

body #style-menu.show ul {
  display: block;
}

/* @include TwoColumn.layout(()); */
html.singlecolumn div {
  box-sizing: border-box;
}

html.singlecolumn body {
  margin: 0;
  padding: 0;
  font-family: "Charis SIL", "Palatino", serif;
  line-height: 1.4;
  text-align: center;
  box-sizing: border-box;
}

html.singlecolumn .cpp {
  font-family: monospace; /* for typesetting the word "C++" */
}

html.singlecolumn #background_image {
  max-width: 1300px;
  width: 1040px;
  height: 520px;
  position: fixed;
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  z-index: 1;
  background-image: none;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

@media (max-width: 1300px) {
  html.singlecolumn #background_image {
    max-width: 1300px;
    width: 80vw;
    height: 40vw;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }
}
@media (max-width: 970px), (max-height: 800px) {
  html.singlecolumn #background_image {
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }
}
html.singlecolumn .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

html.singlecolumn .section_panel {
  max-width: 80%;
  width: 80%;
  padding-right: 1em;
  margin-bottom: 4em;
  margin-top: 1.5em;
}

html.singlecolumn .section_panel > a {
  margin-top: -3em;
}

@media (max-width: 970px) {
  html.singlecolumn .section_panel {
    width: 100%;
    max-width: 100%;
    padding-right: 0em;
  }
  html.singlecolumn .project_title {
    font-size: 20pt !important;
    font-weight: normal !important;
  }
}
html.singlecolumn .section_text {
  padding: 1em;
  padding-top: 2em;
}

html.singlecolumn .section_text > p:first-child {
  margin-top: -5pt;
}

html.singlecolumn .section_text > p {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

html.singlecolumn .section_text hr {
  margin-top: 5pt;
  margin-bottom: -5pt;
}

html.singlecolumn .section_text a {
  display: inline;
  white-space: normal; /* allow line breaks on spaces in links */
}

html.singlecolumn .project_header {
  display: flex; /* equal child height */
  column-gap: 1em;
}

html.singlecolumn .breaking_news {
  font-size: 12pt;
  line-height: 1.3;
  padding: 0.5em 1em 0.5em 1em;
  margin: -2em -0.75em 0em -0.75em;
  border-radius: 1em;
  /*        font-style: italic;*/
}
html.singlecolumn .breaking_news p:first-child {
  margin-top: 0;
}
html.singlecolumn .breaking_news p:last-child {
  margin-bottom: 0;
}

html.singlecolumn .breaking_news_container {
  margin-top: 1em !important;
}

html.singlecolumn .section_text .news {
  position: relative; /* needed to position "...more" label later */
  padding-bottom: 0.5em;
  font-size: 14px;
}

html.singlecolumn .section_text .news h4 {
  font-weight: 600;
  font-size: 14px;
  font-variant-caps: small-caps;
}

html.singlecolumn .section_text .news ul, html.singlecolumn .section_text .news ul div {
  margin: 0;
  padding: 0;
  display: flex; /* displaying with flex allows us to control the list order from css for the summary/details */
  flex-direction: column;
  gap: 0.4em;
}

html.singlecolumn .section_text .news ul {
  margin-left: 1em;
}

html.singlecolumn .news li, html.singlecolumn .news div li {
  display: flex;
  flex-direction: row;
  line-height: 1.1;
  gap: 0.5em;
}

html.singlecolumn .section_text .news .when {
  width: 5em;
  flex: 0 0 auto;
  display: inline;
  font-style: italic;
}

html.singlecolumn .section_text .news .where {
  display: inline;
}

html.singlecolumn .section_text .news summary {
  /*        position:absolute;
          bottom:0px;
          left:0;*/
  margin-left: 1em;
  list-style: none;
}

html.singlecolumn .section_text .news details {
  display: contents; /* make details participate in flexbox layout */
}

html.singlecolumn .section_text .news summary:hover {
  cursor: pointer;
}

html.singlecolumn .section_text .news details summary::-webkit-details-marker {
  display: none;
}

html.singlecolumn .section_text .news details summary::before {
  content: "... see more ...";
}

html.singlecolumn .section_text .news details[open] summary::before {
  content: "... see less ...";
}

html.singlecolumn .section_text .news details[open] > summary {
  order: 2;
}

/* animate details opening */
html.singlecolumn .section_text .news details > div {
  overflow: hidden;
  max-height: 0px;
}

html.singlecolumn .section_text .news details[open] > div {
  max-height: 1000px;
  transition: max-height 0.25s ease-in;
}

html.singlecolumn .misc_project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

html.singlecolumn .misc_project_list .project_header {
  margin-bottom: 2em;
  flex-direction: row-reverse; /* put images left of text by default */
  max-width: 48%;
}

html.singlecolumn .project_header .image {
  flex: 0 0 30%;
  width: 30%;
  margin-top: 5pt;
}

html.singlecolumn .project_header .image img {
  max-width: 100%;
  max-height: 12em;
}

html.singlecolumn .project_header .text {
  flex: 1 1 70%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15pt;
  padding-right: 0pt;
}

html.singlecolumn .project_header .text .project_title {
  font-weight: 300;
  font-size: 20pt;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2pt;
  text-align: left;
  margin-left: -15pt;
}

html.singlecolumn .project_header .text .venue, .project_author_list {
  line-height: 1.1;
  font-weight: normal;
}

html.singlecolumn .project_header .text .venue {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

html.singlecolumn .project_header .text .award {
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  border-radius: 0.75em;
  padding: 0.4em 0.6em;
  margin: 0.25em 0em 0.25em -0.75em;
  text-decoration: none;
}

html.singlecolumn .project_header .award .description {
  font-size: 10pt;
  text-align: center;
  display: inline-block;
  margin-left: 1em;
  font-style: italic;
}

html.singlecolumn .project_author_list a {
  text-decoration: none;
  font-weight: normal;
}

html.singlecolumn .project_header .text .mini_abstract {
  line-height: 1.2;
  /*        font-size: 11pt;*/
  box-sizing: border-box;
}

html.singlecolumn .section_panel .project_links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 2pt;
  margin-bottom: 15pt;
  padding-left: 15pt;
  padding-right: 15pt;
}

html.singlecolumn .talk .project_links {
  justify-content: flex-start; /* left-align talk links */
  padding-left: 0pt;
  padding-top: 0pt;
  margin-top: 0pt;
  margin-bottom: 0.25em;
}

html.singlecolumn .section_panel .project_links a {
  margin-left: 0.25em;
}

html.singlecolumn .section_panel .project_links > :first-child {
  margin-left: 0;
}

html.singlecolumn .project_links a::before, html.singlecolumn .bibBox button::before, html.singlecolumn .bibEntry button::before {
  content: "[";
}

html.singlecolumn .project_links a::after, html.singlecolumn .bibBox button::after, html.singlecolumn .bibEntry button::after {
  content: "]";
}

html.singlecolumn .section_panel .project_links details {
  display: contents; /* make details participate in flexbox layout */
}

html.singlecolumn .section_panel .project_links details summary {
  margin-left: 0.25em;
  list-style: none;
}

html.singlecolumn .section_panel .project_links summary:hover {
  cursor: pointer;
}

html.singlecolumn .section_panel .project_links details summary::-webkit-details-marker {
  display: none;
}

html.singlecolumn .section_panel .project_links details summary::before {
  content: "[...more]";
}

html.singlecolumn .section_panel .project_links details[open] summary {
  order: 2; /* move to end */
}

html.singlecolumn .section_panel .project_links details[open] summary::before {
  content: "[...less]";
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.singlecolumn .bibBox {
  display: inline-block;
  position: relative;
  width: 3.85em;
  height: 15pt;
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.singlecolumn .bibBox .bibliography {
  font-family: monospace;
  word-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.1;
  position: absolute;
  top: 2em;
  right: -1em;
  padding: 1em 0.75em 1em 1em;
  margin: 0;
  width: 30em;
  height: auto;
  border-radius: 0.25em;
  z-index: 200;
  /*        visibility: hidden;*/
  opacity: 0.0001;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.singlecolumn .bibBox:hover .bibliography {
  visibility: visible !important;
  opacity: 1;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

html.singlecolumn .bibBox button, html.singlecolumn .bibEntry button {
  padding: 0;
  border: none;
  background: none;
  float: right;
  font-family: "Charis SIL", "Palatino", serif;
  font-size: 12pt;
  margin-top: -0.5em;
}

html.singlecolumn .bibBox button:hover, html.singlecolumn .bibEntry button:hover {
  cursor: pointer;
}

html.singlecolumn .noise {
  position: fixed;
  background-repeat: repeat;
  background-position: right;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
  /*background-image: url('stolen-noise.jpg');*/
}

html.singlecolumn .title h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

html.singlecolumn .title h4 {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 1em;
}

html.singlecolumn .title {
  padding-top: 3em;
  padding-left: 3em;
  position: relative;
  z-index: 1;
}

html.singlecolumn .title-img {
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: bottom right;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: -1;
}

html.singlecolumn .page-content {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 2;
}

html.singlecolumn .section {
  flex-direction: column;
}

html.singlecolumn .subsection {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

html.singlecolumn .section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

html.singlecolumn .section-content > div {
  margin-left: 15px;
  margin-right: 15px;
}

html.singlecolumn .section-content > :first-child {
  margin-left: 30px;
}

html.singlecolumn .section-content > :last-child {
  margin-right: 30px;
}

html.singlecolumn .section-content {
  text-align: justify;
}

html.singlecolumn .subsection-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

html.singlecolumn .section-text {
  width: 80%;
  max-width: 400px;
  margin-bottom: 1em;
}

html.singlecolumn h1 {
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 150px;
  line-height: 1;
  max-width: 800px;
  margin: 0;
  margin-bottom: 5px;
}

html.singlecolumn h2, html.singlecolumn .section_header {
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 60px;
  text-align: left;
  line-height: 1;
  z-index: 10;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  margin-left: -10px;
  padding: 15px;
}

@media (max-width: 650px) {
  html.singlecolumn h1 {
    font-size: 75px;
  }
  html.singlecolumn .title {
    padding: 8px;
  }
}
html.singlecolumn h3 {
  font-weight: 200;
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

html.singlecolumn h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 22px;
  line-height: 1.1;
  text-align: left;
}

html.singlecolumn h5 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
  text-align: left;
}

html.singlecolumn div.warning {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

html.singlecolumn .fancy_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: space-around;
}

html.singlecolumn .fancy_list li {
  margin-right: 15px;
}

html.singlecolumn .fancy_list a {
  padding: 5px;
  padding-top: 8px;
  text-decoration: none;
}

html.singlecolumn .fancy_list a:hover {
  padding: 5px;
  padding-top: 8px;
  text-decoration: none;
}

/*picture at top of page (behind my name)*/
html.singlecolumn .header {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 5;
  display: grid;
  grid-template-rows: 12em auto;
  grid-template-columns: max-content 1fr;
  justify-content: center;
  align-content: center;
  grid-column-gap: 1em;
  max-width: 80%;
  width: 80%;
  margin-bottom: 2em;
}

html.singlecolumn #header_img {
  width: 12em;
  height: 12em;
  border-radius: 6em;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin: auto;
}

html.singlecolumn .header .info {
  grid-column: 1/span 1;
  grid-row: 2/2;
  display: inline-block;
  margin: 0.25em auto 0 auto;
  padding-top: 0.1em;
  line-height: 1.75;
}

html.singlecolumn .header .info .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25em;
}

html.singlecolumn .header .info .links .fa, html.singlecolumn .header .info .links .fa-brands {
  font-size: 1.5em;
}

html.singlecolumn .name {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
  line-height: 0.85;
  margin-top: 0.25em;
  /*        font-style: italic;*/
  /*        font-variant-caps: small-caps;*/
}

html.singlecolumn .header .section_text {
  grid-column: 2/2;
  grid-row: 1/span 2;
  margin: 0;
  padding-top: 1em;
  text-align: left;
}

html.singlecolumn .header .fa {
  font-size: 1.75em;
}

html.singlecolumn table {
  border-spacing: 10px 0;
}

/* Align first column right and other columns left
* https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
*/
html.singlecolumn td {
  vertical-align: top;
}

html.singlecolumn .talk_date {
  width: 5em;
}

html.singlecolumn .venue, html.singlecolumn .talk_venue {
  font-style: italic;
}

html.singlecolumn .venue a, html.singlecolumn .talk_venue a {
  text-decoration: none;
  font-weight: normal;
}

@media (max-width: 970px) {
  html.singlecolumn .name_box {
    /* font-size: 6em; */
  }
  html.singlecolumn h3 {
    font-size: 2em;
    font-weight: normal;
  }
  html.singlecolumn h4 {
    text-align: left;
    font-weight: normal;
  }
  html.singlecolumn h2, html.singlecolumn .section_header {
    margin-left: 10pt;
  }
  html.singlecolumn .talk_venue {
    display: inline-block;
    clear: left;
  }
}
@media (max-width: 710px) {
  html.singlecolumn .header {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: auto;
  }
  html.singlecolumn #header_img {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  html.singlecolumn .name {
    grid-column: 1/span 1;
    grid-row: 2/2;
  }
  html.singlecolumn .header .section_text {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  html.singlecolumn .project_header {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  html.singlecolumn .misc_project_list .project_header {
    flex-direction: column; /* put images below text on thin screens */
  }
  html.singlecolumn .project_header .image {
    display: inline-block;
    width: 100%;
    max-height: 300px;
    text-align: center;
    margin-top: 0;
  }
  html.singlecolumn .project_header .text {
    padding: 0;
    text-align: center;
  }
  html.singlecolumn .project_header .text .project_title {
    margin: 0;
    text-align: center;
  }
  html.singlecolumn .project_header .text .award {
    margin: 0;
  }
  html.singlecolumn .project_header .text .mini_abstract {
    margin-top: 0.5em;
    text-align: left;
  }
  /* more spacing for clicking on mobile */
  html.singlecolumn .section_panel .project_links {
    line-height: 1.75;
  }
  html.singlecolumn .section_panel .project_links a {
    margin-left: 0.5em;
  }
  html.singlecolumn .section_panel .project_links summary {
    padding-left: 0.2em;
  }
  html.singlecolumn .bibBox {
    margin-right: 0.25em;
  }
  html.singlecolumn .talk_date {
    width: 3em;
  }
  html.singlecolumn .misc_project_list .project_header {
    max-width: 75%;
  }
}
@media (max-width: 450px) {
  html.singlecolumn .name_box {
    font-size: 3em;
  }
  html.singlecolumn .body {
    width: 100vw;
  }
}
html.singlecolumn #background_image {
  z-index: -10;
}

html.singlecolumn .space_under {
  display: inline-block;
  margin-bottom: 0.5em;
}

html.singlecolumn .award_details {
  font-style: italic;
}

html.singlecolumn details {
  margin-bottom: 1em;
}

html.singlecolumn .footer {
  box-sizing: border-box;
  text-align: center;
  padding: 2em;
  margin-top: 50vh;
  position: relative;
  z-index: 200;
}

@media (max-width: 970px) {
  html.singlecolumn .footer {
    margin-top: 2em;
  }
}
html.singlecolumn a {
  /*text-decoration: none;*/
  font-weight: 500;
  display: inline-block;
}

html.project body {
  margin: 0;
  padding: 0;
  font-family: "Charis SIL", "Palatino", serif;
  line-height: 1.4;
  text-align: center;
}

html.project .cpp {
  font-family: monospace; /* for typesetting the word "C++" */
}

html.project .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

html.project .page-content {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 2;
}

/*picture at top of page (behind my name)*/
html.project .header {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 5;
}

html.project .paper_teaser {
  max-width: 80%;
  display: inline-block;
  padding: 0.25em;
  padding-bottom: 0pt;
  margin-bottom: -7pt;
  overflow: hidden;
}

html.project .paper_teaser > img {
  width: 100%;
  display: inline-block;
  margin: 0;
}

html.project .name_box {
  display: inline-block;
  text-align: center;
  overflow: visible;
  margin-bottom: 15px;
}

html.project .name_box > .title {
  font-size: 2em;
  line-height: 1;
  margin: 0em 0.5em 0.1em 0.5em;
}

html.project .name_box > .venue {
  font-size: 1.25em;
  margin: 0em 0.5em 0.25em 0.5em;
  line-height: 1;
}

html.project .venue a {
  text-decoration: none;
}

html.project .name_box > .award {
  display: inline-block;
  line-height: 1;
  font-size: 1.1em;
  border-radius: 0.75em;
  padding: 0.4em 0.6em;
  margin: 0em 0em 0.75em 0em;
}

html.project .name_box .award .description {
  font-size: 10pt;
  text-align: center;
  display: inline-block;
  margin-left: 1em;
  font-style: italic;
}

html.project .name_box a.award {
  text-decoration: none;
}

html.project .name_box > .authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html.project .name_box > .authors > .author {
  margin-left: 0.5em;
  margin-right: 0.5em;
  line-height: 1;
}

html.project .name_box > .authors > .author > .name {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5em;
}

html.project .name_box > .authors > .author > .name > a {
  text-decoration: none;
}

html.project .name_box > .authors > .author > .affiliation {
  display: block;
  margin-top: -0.25em;
  font-size: 0.9em;
}

html.project .quick_links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  white-space: none;
}

html.project .quick_links a::before, html.project .bibBox button::before, html.project .bibEntry button::before, html.project a.paper-preview span::before {
  content: "[";
}

html.project .quick_links a::after, html.project .bibBox button::after, html.project .bibEntry button::after, html.project a.paper-preview span::after {
  content: "]";
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.project .bibBox {
  display: inline-block;
  position: relative;
  width: 3.85em;
  height: 15pt;
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.project .bibBox .bibliography {
  font-family: monospace;
  word-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.1;
  position: absolute;
  top: 2em;
  right: -1em;
  padding: 1em 0.75em 1em 1em;
  margin: 0;
  width: 30em;
  height: auto;
  border-radius: 0.25em;
  z-index: 200;
  /*        visibility: hidden;*/
  opacity: 0.0001;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

/* hover bib style from: http://www.cs.cmu.edu/~kmcrane/style.css */
html.project .bibBox:hover .bibliography {
  visibility: visible !important;
  opacity: 1;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

html.project .bibBox button, html.project .bibEntry button {
  padding: 0;
  border: none;
  background: none;
  float: right;
  font-family: "Charis SIL", "Palatino", serif;
  font-size: 12pt;
  margin-top: -0.5em;
}

html.project .bibBox button:hover, html.project .bibEntry button:hover {
  cursor: pointer;
}

/*html.project .abstract::before {
    content: "Abstract: ";
    font-weight: 600;
}*/
html.project .abstract {
  text-align: justify;
  width: 95%;
  padding-left: auto;
  display: inline-block; /* center */
}

html.project .section_header {
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
  line-height: 1;
  z-index: 10;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 20px;
  display: inline-block;
  margin-left: -10px;
  margin-top: -1.5em;
  padding: 15px;
}

html.project .section_panel {
  width: auto; /* undo a width: 100% from somewhere else */
  max-width: 400px;
  margin: 1em;
  box-sizing: border-box;
  display: inline-block;
}

html.project .figures {
  max-width: 600px;
}

html.project .figures .section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html.project .figures .section_text hr {
  width: 100%;
}

html.project .figures img {
  max-width: 80%;
}

html.project .figures .caption, html.project .caption {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  line-height: 1.2;
}

html.project .section_text {
  padding: 1em;
  padding-top: 3em;
  margin-top: -2.25em;
}

html.project .section_text .paper-preview {
  display: inline-block;
}

html.project .section_text .paper-preview > img {
  width: 128px;
  display: inline-block;
}

html.project .section_text .paper-preview > span {
  width: 128px;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

html.project .section_text a.paper-preview span {
  text-decoration: underline;
}

html.project .example_grid_container {
  max-width: 100%;
}

html.project .example_grid {
  display: flex;
  flex-wrap: wrap;
}

html.project .example_grid .example_grid_entry {
  max-width: 32%;
  margin: auto;
  text-align: center;
}

html.project .example_grid .example_grid_entry .caption {
  text-align: left;
}

html.project .bibEntry .section_text {
  font-family: monospace;
  word-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
}

html.project .headline {
  text-align: left;
  margin-bottom: 1em;
}

html.project .headline a {
  font-style: italic;
  text-decoration: none;
}

html.project .headline .source {
  text-align: right;
}

html.project .footer {
  box-sizing: border-box;
  text-align: center;
  padding: 2em;
  margin-top: 15vh;
  position: relative;
  z-index: 200;
}

html.project .centered_content {
  text-align: center;
}

@media (max-width: 970px) {
  html.project .footer {
    margin-top: 2em;
  }
  html.project .example_grid .example_grid_entry {
    max-width: 48%;
  }
}
@media (max-width: 710px) {
  html.project .abstract {
    text-align: left;
  }
  html.project .name_box > .authors {
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    display: block;
    text-align: left;
  }
  html.project .name_box > .authors > .author {
    display: flex;
    align-items: start;
    margin-bottom: 0.3em;
  }
  html.project .name_box > .authors > .author > .name {
    margin-bottom: 0;
    margin-right: 0.5em;
    flex: 0 0 auto;
  }
  html.project .name_box > .authors > .author > .name::after {
    content: ",";
  }
  html.project .name_box > .authors > .author > .affiliation {
    margin: 0;
  }
  html.project .paper_teaser {
    max-width: 100%;
  }
  html.project .figures img {
    max-width: 100%;
  }
  /* more spacing for clicking on mobile */
  html.project .quick_links {
    line-height: 1.75;
  }
  html.project .example_grid .example_grid_entry {
    max-width: 100%;
  }
  html.project .example_grid .example_grid_entry img {
    max-width: 80%;
  }
}
@media (max-width: 450px) {
  /* line break between "ACM Transactions on Graphics" and "SIGGRAPH" */
  html.project .name_box > .venue {
    max-width: 15em;
    margin: auto;
    margin-bottom: 0.25em;
    line-height: 1;
  }
}
.nojs .jsonly {
  display: none;
}

/*# sourceMappingURL=swiss.css.map */
