@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #ddd;
  }

  html .section_text {
    background-color: #334e;
    box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
  }

  html .nav a {
    color: #444;
  }
  html .nav a:hover {
    background-color: #558;
    color: #bbb;
  }

  html .navbar_item {
    color: #bbb;
  }

  html #style-menu ul button {
    border: none;
    font-size: 1.25em;
    color: #bbb;
    background-color: #558;
    border-radius: 0.75em;
  }

  /* Only apply hover effect when the user is using a mouse-like controller. Eliminate
   * sticky hover on mobile.
   * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
}
@media (prefers-color-scheme: dark) and (hover: hover) {
  html .navbar_item:hover, html .selected > .navbar_item {
    color: #bbb;
    background-color: #558;
  }
}
@media (prefers-color-scheme: dark) {
  html .project_header .text .venue {
    color: #bdf;
  }
}
@media (prefers-color-scheme: dark) {
  parent #header_img {
    box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  html .page-content {
    background-color: #222;
    box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  html .section {
    box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.1);
  }
}
@media (prefers-color-scheme: dark) {
  html .section:nth-child(4n+1) {
    background-color: rgba(51, 51, 136, 0.125);
  }
}
@media (prefers-color-scheme: dark) {
  html .section:nth-child(4n+2) {
    background-color: rgba(51, 51, 136, 0.25);
  }
}
@media (prefers-color-scheme: dark) {
  html .section:nth-child(4n+3) {
    background-color: rgba(51, 51, 136, 0.375);
  }
}
@media (prefers-color-scheme: dark) {
  html .section:nth-child(4n+0) {
    background-color: rgba(51, 51, 136, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  html h1 {
    color: #bbb;
  }
}
@media (prefers-color-scheme: dark) {
  html h2, html .section_header {
    background-color: #558;
    color: #bbb;
    box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  html h3 {
    color: #ddd;
  }
}
@media (prefers-color-scheme: dark) {
  html h4 {
    color: #ddd;
  }
}
@media (prefers-color-scheme: dark) {
  html div.warning {
    border-top: 3px solid #558;
  }
}
@media (prefers-color-scheme: dark) {
  html .fancy_list a {
    color: #333;
  }
  html .fancy_list a:hover {
    background-color: #558;
    color: #eee;
  }
}
@media (prefers-color-scheme: dark) {
  html .name_box {
    color: #c1c1d8;
  }
}
@media (prefers-color-scheme: dark) {
  html .fancy-image {
    box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  html .paper-preview > img {
    box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  html .name_box .venue {
    color: #bdf;
  }
}
@media (prefers-color-scheme: dark) {
  html .footer {
    background-color: #354040;
    color: #FFF;
  }
  html .footer a {
    color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  html a {
    color: #bdf;
  }
}
@media (prefers-color-scheme: dark) {
  html .st1 {
    display: inline;
    fill: none;
    stroke: #b9b9ff;
    stroke-miterlimit: 10;
  }
  html .st2 {
    opacity: 0.4;
    fill: #babaff;
  }
  html .st3 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
  }
  html .st4 {
    opacity: 0.47;
    fill: #babaff;
  }
  html .st5 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st7 {
    fill: #FFFFFF;
  }
  html .st8 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
  }
  html .st9 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }
  html .st10 {
    opacity: 0.4;
    fill: #a7eb;
  }
  html .st11 {
    opacity: 0.8;
    fill: #a7eb;
  }
  html .st12 {
    opacity: 0.4;
    fill: #a7eb;
  }
  html .st13 {
    opacity: 0.25;
  }
  html .st14 {
    opacity: 0.5;
  }
  html .st15 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.004, 2.002;
  }
  html .st16 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0254, 2.0127;
  }
  html .st17 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9756, 1.9878;
  }
  html .st18 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0017, 2.0009;
  }
  html .st19 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9496, 1.9748;
  }
  html .st20 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9971, 1.9985;
  }
  html .st21 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9753, 1.9877;
  }
  html .st22 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9482, 1.9741;
  }
  html .st23 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0047, 2.0023;
  }
  html .st24 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9284, 1.9642;
  }
  html .st25 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.007, 2.0035;
  }
  html .st26 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9236, 1.9618;
  }
  html .st27 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9244, 1.9622;
  }
  html .st28 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9258, 1.9629;
  }
  html .st29 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0023, 2.0012;
  }
  html .st30 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0473, 2.0236;
  }
  html .st31 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  html .st32 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st33 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st34 {
    opacity: 0.8;
    fill: #bbf;
  }
  html .st35 {
    opacity: 0.75;
    fill: #bbf;
  }
  html .st36 {
    opacity: 0.9;
    fill: #bbf;
  }
  html .st37 {
    opacity: 0.65;
    fill: #bbf;
  }
  html .st38 {
    opacity: 0.7;
    fill: #bbf;
  }
  html .st39 {
    opacity: 0.6;
    fill: #bbf;
  }
  html .st40 {
    opacity: 0.65;
    fill: #bbf;
  }
  html .st41 {
    opacity: 0.7;
    fill: #bbf;
  }
  html .st42 {
    opacity: 0.75;
    fill: #bbf;
  }
  html .st43 {
    fill: #a7eb;
  }
  html .st44 {
    opacity: 0.4;
  }
  html .st45 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }
  html .st46 {
    opacity: 0.6;
    fill: #bbf;
  }
  html .st47 {
    opacity: 0.55;
    fill: #bbf;
  }
  html .st48 {
    opacity: 0.55;
    fill: #bbf;
  }
}
@media (prefers-color-scheme: dark) {
  html #background_image svg {
    opacity: 0.75;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background-color: #fef9f7;
    color: #000;
  }

  html .section_text {
    background-color: #cde6f7f2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  html .nav a {
    color: #444;
  }
  html .nav a:hover {
    background-color: #de3d83;
    color: #f4f4f4;
  }

  html .navbar_item {
    color: #333;
  }

  html #style-menu ul button {
    border: none;
    font-size: 1.25em;
    color: #f4f4f4;
    background-color: #de3d83;
    border-radius: 0.75em;
  }

  /* Only apply hover effect when the user is using a mouse-like controller. Eliminate
   * sticky hover on mobile.
   * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
}
@media (prefers-color-scheme: light) and (hover: hover) {
  html .navbar_item:hover, html .selected > .navbar_item {
    color: #f4f4f4;
    background-color: #de3d83;
  }
}
@media (prefers-color-scheme: light) {
  html .project_header .text .venue {
    color: #4783A5;
  }
}
@media (prefers-color-scheme: light) {
  parent #header_img {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  html .page-content {
    background-color: #dbf4ff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  html .section {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (prefers-color-scheme: light) {
  html .section:nth-child(4n+1) {
    background-color: rgba(1, 161, 223, 0.125);
  }
}
@media (prefers-color-scheme: light) {
  html .section:nth-child(4n+2) {
    background-color: rgba(1, 161, 223, 0.25);
  }
}
@media (prefers-color-scheme: light) {
  html .section:nth-child(4n+3) {
    background-color: rgba(1, 161, 223, 0.375);
  }
}
@media (prefers-color-scheme: light) {
  html .section:nth-child(4n+0) {
    background-color: rgba(1, 161, 223, 0.5);
  }
}
@media (prefers-color-scheme: light) {
  html h1 {
    color: #f4f4f4;
  }
}
@media (prefers-color-scheme: light) {
  html h2, html .section_header {
    background-color: #de3d83;
    color: #f4f4f4;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  html h3 {
    color: #000;
  }
}
@media (prefers-color-scheme: light) {
  html h4 {
    color: #000;
  }
}
@media (prefers-color-scheme: light) {
  html div.warning {
    border-top: 3px solid #de3d83;
  }
}
@media (prefers-color-scheme: light) {
  html .fancy_list a {
    color: #333;
  }
  html .fancy_list a:hover {
    background-color: #de3d83;
    color: #eee;
  }
}
@media (prefers-color-scheme: light) {
  html .name_box {
    color: #000;
  }
}
@media (prefers-color-scheme: light) {
  html .fancy-image {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  html .paper-preview > img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (prefers-color-scheme: light) {
  html .name_box .venue {
    color: #4783A5;
  }
}
@media (prefers-color-scheme: light) {
  html .footer {
    background-color: #354040;
    color: #FFF;
  }
  html .footer a {
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  html a {
    color: #4783A5;
  }
}
@media (prefers-color-scheme: light) {
  html .st1 {
    display: inline;
    fill: none;
    stroke: #652d8f;
    stroke-miterlimit: 10;
  }
  html .st2 {
    opacity: 0.4;
    fill: #652d90;
  }
  html .st3 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
  }
  html .st4 {
    opacity: 0.47;
    fill: #652d90;
  }
  html .st5 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st7 {
    fill: #FFFFFF;
  }
  html .st8 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
  }
  html .st9 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }
  html .st10 {
    opacity: 0.2;
    fill: #F15A24;
  }
  html .st11 {
    opacity: 0.4;
    fill: #F15A24;
  }
  html .st12 {
    opacity: 0.2;
    fill: #F15A24;
  }
  html .st13 {
    opacity: 0.25;
  }
  html .st14 {
    opacity: 0.5;
  }
  html .st15 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.004, 2.002;
  }
  html .st16 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0254, 2.0127;
  }
  html .st17 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9756, 1.9878;
  }
  html .st18 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0017, 2.0009;
  }
  html .st19 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9496, 1.9748;
  }
  html .st20 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9971, 1.9985;
  }
  html .st21 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9753, 1.9877;
  }
  html .st22 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9482, 1.9741;
  }
  html .st23 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0047, 2.0023;
  }
  html .st24 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9284, 1.9642;
  }
  html .st25 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.007, 2.0035;
  }
  html .st26 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9236, 1.9618;
  }
  html .st27 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9244, 1.9622;
  }
  html .st28 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 3.9258, 1.9629;
  }
  html .st29 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0023, 2.0012;
  }
  html .st30 {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.0473, 2.0236;
  }
  html .st31 {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  html .st32 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st33 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  html .st34 {
    opacity: 0.4;
    fill: #662D91;
  }
  html .st35 {
    opacity: 0.35;
    fill: #662D91;
  }
  html .st36 {
    opacity: 0.5;
    fill: #662D91;
  }
  html .st37 {
    opacity: 0.25;
    fill: #662D91;
  }
  html .st38 {
    opacity: 0.3;
    fill: #662D91;
  }
  html .st39 {
    opacity: 0.2;
    fill: #662D91;
  }
  html .st40 {
    opacity: 0.25;
    fill: #662D91;
  }
  html .st41 {
    opacity: 0.3;
    fill: #662D91;
  }
  html .st42 {
    opacity: 0.35;
    fill: #662D91;
  }
  html .st43 {
    fill: #F15A24;
  }
  html .st44 {
    opacity: 0.4;
  }
  html .st45 {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }
  html .st46 {
    opacity: 0.2;
    fill: #662D91;
  }
  html .st47 {
    opacity: 0.15;
    fill: #662D91;
  }
  html .st48 {
    opacity: 0.15;
    fill: #662D91;
  }
}
html.darkmode {
  background-color: #111;
  color: #ddd;
}

html.darkmode .section_text {
  background-color: #334e;
  box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
}

html.darkmode .nav a {
  color: #444;
}
html.darkmode .nav a:hover {
  background-color: #558;
  color: #bbb;
}

html.darkmode .navbar_item {
  color: #bbb;
}

html.darkmode #style-menu ul button {
  border: none;
  font-size: 1.25em;
  color: #bbb;
  background-color: #558;
  border-radius: 0.75em;
}

/* Only apply hover effect when the user is using a mouse-like controller. Eliminate
 * sticky hover on mobile.
 * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
@media (hover: hover) {
  html.darkmode .navbar_item:hover, html.darkmode .selected > .navbar_item {
    color: #bbb;
    background-color: #558;
  }
}
html.darkmode .project_header .text .venue {
  color: #bdf;
}

parent #header_img {
  box-shadow: 1px 1px 3px rgba(119, 119, 119, 0.3);
}

html.darkmode .page-content {
  background-color: #222;
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .section {
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.1);
}

html.darkmode .section:nth-child(4n+1) {
  background-color: rgba(51, 51, 136, 0.125);
}

html.darkmode .section:nth-child(4n+2) {
  background-color: rgba(51, 51, 136, 0.25);
}

html.darkmode .section:nth-child(4n+3) {
  background-color: rgba(51, 51, 136, 0.375);
}

html.darkmode .section:nth-child(4n+0) {
  background-color: rgba(51, 51, 136, 0.5);
}

html.darkmode h1 {
  color: #bbb;
}

html.darkmode h2, html.darkmode .section_header {
  background-color: #558;
  color: #bbb;
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode h3 {
  color: #ddd;
}

html.darkmode h4 {
  color: #ddd;
}

html.darkmode div.warning {
  border-top: 3px solid #558;
}

html.darkmode .fancy_list a {
  color: #333;
}
html.darkmode .fancy_list a:hover {
  background-color: #558;
  color: #eee;
}

html.darkmode .name_box {
  color: #c1c1d8;
}

html.darkmode .fancy-image {
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .paper-preview > img {
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.3);
}

html.darkmode .name_box .venue {
  color: #bdf;
}

html.darkmode .footer {
  background-color: #354040;
  color: #FFF;
}
html.darkmode .footer a {
  color: #fff;
}

html.darkmode a {
  color: #bdf;
}

html.darkmode .st1 {
  display: inline;
  fill: none;
  stroke: #b9b9ff;
  stroke-miterlimit: 10;
}
html.darkmode .st2 {
  opacity: 0.4;
  fill: #babaff;
}
html.darkmode .st3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
html.darkmode .st4 {
  opacity: 0.47;
  fill: #babaff;
}
html.darkmode .st5 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st7 {
  fill: #FFFFFF;
}
html.darkmode .st8 {
  opacity: 0.15;
  fill: url(#SVGID_1_);
}
html.darkmode .st9 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.darkmode .st10 {
  opacity: 0.4;
  fill: #a7eb;
}
html.darkmode .st11 {
  opacity: 0.8;
  fill: #a7eb;
}
html.darkmode .st12 {
  opacity: 0.4;
  fill: #a7eb;
}
html.darkmode .st13 {
  opacity: 0.25;
}
html.darkmode .st14 {
  opacity: 0.5;
}
html.darkmode .st15 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.004, 2.002;
}
html.darkmode .st16 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0254, 2.0127;
}
html.darkmode .st17 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9756, 1.9878;
}
html.darkmode .st18 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0017, 2.0009;
}
html.darkmode .st19 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9496, 1.9748;
}
html.darkmode .st20 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9971, 1.9985;
}
html.darkmode .st21 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9753, 1.9877;
}
html.darkmode .st22 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9482, 1.9741;
}
html.darkmode .st23 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0047, 2.0023;
}
html.darkmode .st24 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9284, 1.9642;
}
html.darkmode .st25 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.007, 2.0035;
}
html.darkmode .st26 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9236, 1.9618;
}
html.darkmode .st27 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9244, 1.9622;
}
html.darkmode .st28 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9258, 1.9629;
}
html.darkmode .st29 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0023, 2.0012;
}
html.darkmode .st30 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0473, 2.0236;
}
html.darkmode .st31 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
html.darkmode .st32 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st33 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.darkmode .st34 {
  opacity: 0.8;
  fill: #bbf;
}
html.darkmode .st35 {
  opacity: 0.75;
  fill: #bbf;
}
html.darkmode .st36 {
  opacity: 0.9;
  fill: #bbf;
}
html.darkmode .st37 {
  opacity: 0.65;
  fill: #bbf;
}
html.darkmode .st38 {
  opacity: 0.7;
  fill: #bbf;
}
html.darkmode .st39 {
  opacity: 0.6;
  fill: #bbf;
}
html.darkmode .st40 {
  opacity: 0.65;
  fill: #bbf;
}
html.darkmode .st41 {
  opacity: 0.7;
  fill: #bbf;
}
html.darkmode .st42 {
  opacity: 0.75;
  fill: #bbf;
}
html.darkmode .st43 {
  fill: #a7eb;
}
html.darkmode .st44 {
  opacity: 0.4;
}
html.darkmode .st45 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.darkmode .st46 {
  opacity: 0.6;
  fill: #bbf;
}
html.darkmode .st47 {
  opacity: 0.55;
  fill: #bbf;
}
html.darkmode .st48 {
  opacity: 0.55;
  fill: #bbf;
}

html.darkmode #background_image svg {
  opacity: 0.75;
}

html.lightmode {
  background-color: #fef9f7;
  color: #000;
}

html.lightmode .section_text {
  background-color: #cde6f7f2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

html.lightmode .nav a {
  color: #444;
}
html.lightmode .nav a:hover {
  background-color: #de3d83;
  color: #f4f4f4;
}

html.lightmode .navbar_item {
  color: #333;
}

html.lightmode #style-menu ul button {
  border: none;
  font-size: 1.25em;
  color: #f4f4f4;
  background-color: #de3d83;
  border-radius: 0.75em;
}

/* Only apply hover effect when the user is using a mouse-like controller. Eliminate
 * sticky hover on mobile.
 * http://www.javascriptkit.com/dhtmltutors/sticky-hover-issue-solutions.shtml */
@media (hover: hover) {
  html.lightmode .navbar_item:hover, html.lightmode .selected > .navbar_item {
    color: #f4f4f4;
    background-color: #de3d83;
  }
}
html.lightmode .project_header .text .venue {
  color: #4783A5;
}

parent #header_img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

html.lightmode .page-content {
  background-color: #dbf4ff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .section {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

html.lightmode .section:nth-child(4n+1) {
  background-color: rgba(1, 161, 223, 0.125);
}

html.lightmode .section:nth-child(4n+2) {
  background-color: rgba(1, 161, 223, 0.25);
}

html.lightmode .section:nth-child(4n+3) {
  background-color: rgba(1, 161, 223, 0.375);
}

html.lightmode .section:nth-child(4n+0) {
  background-color: rgba(1, 161, 223, 0.5);
}

html.lightmode h1 {
  color: #f4f4f4;
}

html.lightmode h2, html.lightmode .section_header {
  background-color: #de3d83;
  color: #f4f4f4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode h3 {
  color: #000;
}

html.lightmode h4 {
  color: #000;
}

html.lightmode div.warning {
  border-top: 3px solid #de3d83;
}

html.lightmode .fancy_list a {
  color: #333;
}
html.lightmode .fancy_list a:hover {
  background-color: #de3d83;
  color: #eee;
}

html.lightmode .name_box {
  color: #000;
}

html.lightmode .fancy-image {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .paper-preview > img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

html.lightmode .name_box .venue {
  color: #4783A5;
}

html.lightmode .footer {
  background-color: #354040;
  color: #FFF;
}
html.lightmode .footer a {
  color: #fff;
}

html.lightmode a {
  color: #4783A5;
}

html.lightmode .st1 {
  display: inline;
  fill: none;
  stroke: #652d8f;
  stroke-miterlimit: 10;
}
html.lightmode .st2 {
  opacity: 0.4;
  fill: #652d90;
}
html.lightmode .st3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
html.lightmode .st4 {
  opacity: 0.47;
  fill: #652d90;
}
html.lightmode .st5 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st7 {
  fill: #FFFFFF;
}
html.lightmode .st8 {
  opacity: 0.15;
  fill: url(#SVGID_1_);
}
html.lightmode .st9 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.lightmode .st10 {
  opacity: 0.2;
  fill: #F15A24;
}
html.lightmode .st11 {
  opacity: 0.4;
  fill: #F15A24;
}
html.lightmode .st12 {
  opacity: 0.2;
  fill: #F15A24;
}
html.lightmode .st13 {
  opacity: 0.25;
}
html.lightmode .st14 {
  opacity: 0.5;
}
html.lightmode .st15 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.004, 2.002;
}
html.lightmode .st16 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0254, 2.0127;
}
html.lightmode .st17 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9756, 1.9878;
}
html.lightmode .st18 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0017, 2.0009;
}
html.lightmode .st19 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9496, 1.9748;
}
html.lightmode .st20 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9971, 1.9985;
}
html.lightmode .st21 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9753, 1.9877;
}
html.lightmode .st22 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9482, 1.9741;
}
html.lightmode .st23 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0047, 2.0023;
}
html.lightmode .st24 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9284, 1.9642;
}
html.lightmode .st25 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.007, 2.0035;
}
html.lightmode .st26 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9236, 1.9618;
}
html.lightmode .st27 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9244, 1.9622;
}
html.lightmode .st28 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.9258, 1.9629;
}
html.lightmode .st29 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0023, 2.0012;
}
html.lightmode .st30 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.0473, 2.0236;
}
html.lightmode .st31 {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
html.lightmode .st32 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st33 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
html.lightmode .st34 {
  opacity: 0.4;
  fill: #662D91;
}
html.lightmode .st35 {
  opacity: 0.35;
  fill: #662D91;
}
html.lightmode .st36 {
  opacity: 0.5;
  fill: #662D91;
}
html.lightmode .st37 {
  opacity: 0.25;
  fill: #662D91;
}
html.lightmode .st38 {
  opacity: 0.3;
  fill: #662D91;
}
html.lightmode .st39 {
  opacity: 0.2;
  fill: #662D91;
}
html.lightmode .st40 {
  opacity: 0.25;
  fill: #662D91;
}
html.lightmode .st41 {
  opacity: 0.3;
  fill: #662D91;
}
html.lightmode .st42 {
  opacity: 0.35;
  fill: #662D91;
}
html.lightmode .st43 {
  fill: #F15A24;
}
html.lightmode .st44 {
  opacity: 0.4;
}
html.lightmode .st45 {
  fill: #FFFFFF;
  stroke: #000;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
html.lightmode .st46 {
  opacity: 0.2;
  fill: #662D91;
}
html.lightmode .st47 {
  opacity: 0.15;
  fill: #662D91;
}
html.lightmode .st48 {
  opacity: 0.15;
  fill: #662D91;
}

/* One column layout */
/* Two column layout */
/* Project page layout */
/* Two column layout */
/******************************/
/*         NAVBAR             */
/******************************/
body div.navbar {
  font-family: "Helvetica", sans-serif;
  padding-right: 1em;
  margin-bottom: 1em;
  overflow: visible;
  display: inline-block;
  width: 100%;
}

body .navbar_icon {
  display: none;
}

body a.navbar_link {
  text-decoration: none;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 20;
}

body a.navbar_link:hover {
  text-decoration: none;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 1150px) {
  body .vanishing_early {
    display: none !important;
  }
}
@media (max-width: 970px) {
  body .vanishing {
    display: none !important;
  }

  body .section_panel {
    max-width: 100%;
    width: 100vw;
  }

  body .body {
    justify-content: left;
  }
}
body div.navbar_buttons {
  text-align: center;
  overflow: visible;
  float: right;
  font-family: "Helvetica", sans-serif;
}

body .navbar_item, #style-menu > button {
  float: none;
  height: 100%;
  font-weight: 400;
  display: inline-block;
  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 450px) {
  body .navbar_item {
    padding-left: 5px;
    padding-right: 5px;
    overflow: visible;
    z-index: 200;
    font-size: 1.2em !important;
  }
}
@media (min-width: 450px) and (max-width: 1100px) {
  body div.navbar {
    overflow: visible;
    z-index: 2;
    font-size: 0.9em;
  }
}
@media (min-width: 1100px) {
  body div.navbar {
    overflow: visible;
    z-index: 2;
  }
}
body #style-menu {
  display: inline-block;
  position: relative;
}

body #style-menu ul {
  z-index: 300;
  display: none;
  position: absolute;
  right: 0;
  list-style-type: none;
  /* Remove bullets */
  margin: 0;
  /* Remove margins */
  padding: 0;
}

body #style-menu li {
  margin: 0.25em;
}

body #style-menu ul a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body button.dropbtn {
  font-weight: 700;
  background: none;
  border: none;
  padding: 0;
}

body .dropdown a:hover {
  background-color: #ddd;
}

body #style-menu.show ul {
  display: block;
}

/* @include TwoColumn.layout(()); */
html.singlecolumn body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  line-height: 1.4;
  text-align: center;
}

html.singlecolumn #background_image {
  max-width: 1300px;
  width: 1040px;
  height: 520px;
  position: fixed;
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  z-index: 1;
  background-image: none;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

@media (max-width: 1300px) {
  html.singlecolumn #background_image {
    max-width: 1300px;
    width: 80vw;
    height: 40vw;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }
}
@media (max-width: 970px) {
  html.singlecolumn #background_image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }
}
html.singlecolumn .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

html.singlecolumn .section_panel {
  max-width: 80%;
  width: 80%;
  padding-right: 1em;
  margin-top: 4em;
  box-sizing: border-box;
}

html.singlecolumn .section_text {
  padding: 1em;
  padding-top: 4em;
  margin-top: -3em;
}

html.singlecolumn .project_header {
  display: flex;
  /* equal child height */
}

html.singlecolumn .project_header .image {
  flex: 0 0 30%;
  width: 30%;
  display: flex;
  align-items: center;
}

html.singlecolumn .project_header .image img {
  width: 100%;
}

html.singlecolumn .project_header .text {
  flex: 1 1 70%;
}

html.singlecolumn .project_header .text .project_title {
  font-family: "Helvetica";
  font-weight: 200;
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

html.singlecolumn .project_header .text .venue {
  line-height: 1.4;
  padding-left: 1em;
}

html.singlecolumn .project_header .text .mini_abstract {
  line-height: 1.4;
  padding-left: 1em;
}

html.singlecolumn .section_panel .project_links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

html.singlecolumn .section_panel .project_links a {
  margin-left: 1em;
}

html.singlecolumn .noise {
  position: fixed;
  background-repeat: repeat;
  background-position: right;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
  /*background-image: url('stolen-noise.jpg');*/
}

html.singlecolumn .title h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

html.singlecolumn .title h4 {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 1em;
}

html.singlecolumn .title {
  padding-top: 3em;
  padding-left: 3em;
  position: relative;
  z-index: 1;
}

html.singlecolumn .title-img {
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: bottom right;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: -1;
}

html.singlecolumn .page-content {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 2;
}

html.singlecolumn .section {
  flex-direction: column;
}

html.singlecolumn .subsection {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

html.singlecolumn .section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

html.singlecolumn .section-content > div {
  margin-left: 15px;
  margin-right: 15px;
}

html.singlecolumn .section-content > :first-child {
  margin-left: 30px;
}

html.singlecolumn .section-content > :last-child {
  margin-right: 30px;
}

html.singlecolumn .section-content {
  text-align: justify;
}

html.singlecolumn .subsection-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

html.singlecolumn .section-text {
  width: 80%;
  max-width: 400px;
  margin-bottom: 1em;
}

html.singlecolumn h1 {
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 150px;
  line-height: 1;
  max-width: 800px;
  margin: 0;
  margin-bottom: 5px;
}

html.singlecolumn h2, html.singlecolumn .section_header {
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 60px;
  text-align: left;
  line-height: 1;
  z-index: 10;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  margin-left: -10px;
  padding: 15px;
}

@media (max-width: 650px) {
  html.singlecolumn h1 {
    font-size: 75px;
  }

  html.singlecolumn .title {
    padding: 8px;
  }
}
html.singlecolumn h3 {
  font-family: "Helvetica";
  font-weight: 200;
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

html.singlecolumn h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Helvetica";
  font-weight: 200;
  font-size: 22px;
  line-height: 1.3;
  text-align: left;
}

html.singlecolumn div.warning {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

html.singlecolumn .fancy_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: space-around;
}

html.singlecolumn .fancy_list li {
  margin-right: 15px;
}

html.singlecolumn .fancy_list a {
  padding: 5px;
  padding-top: 8px;
  text-decoration: none;
}

html.singlecolumn .fancy_list a:hover {
  padding: 5px;
  padding-top: 8px;
  text-decoration: none;
}

.section-content img {
  display: block;
  max-width: 300px;
  height: auto;
}

/*picture at top of page (behind my name)*/
html.singlecolumn .header {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 5;
}

html.singlecolumn #header_img {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  float: left;
}

html.singlecolumn .name_box {
  font-size: 8em;
  font-family: "Helvetica", sans-serif;
  font-weight: 800;
  display: inline-block;
  text-align: left;
  line-height: 0.85;
  overflow: hidden;
  margin-bottom: 15px;
}

html.singlecolumn .name {
  margin-top: 0.25em;
  display: inline-block;
  max-width: 5em;
  margin-left: 0.25em;
}

@media (max-width: 970px) {
  html.singlecolumn .name_box {
    font-size: 6em;
  }
}
@media (max-width: 694px) {
  html.singlecolumn .name_box {
    font-size: 4em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  html.singlecolumn #header_img {
    width: 60vw;
    height: 60vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 30vw;
    display: inline-block;
    float: none;
  }

  html.singlecolumn .header {
    width: 100vw;
    overflow: hidden;
  }

  html.singlecolumn .name {
    margin-top: 0;
    max-width: 100vw;
    font-weight: 300;
    padding-top: 0.5em;
    display: block;
  }
}
@media (max-width: 450px) {
  html.singlecolumn .name_box {
    font-size: 3em;
  }

  html.singlecolumn .body {
    width: 100vw;
  }

  html.singlecolumn h3 {
    font-size: 2em;
    font-weight: 400;
  }

  html.singlecolumn h4 {
    text-align: left;
    font-weight: 400;
  }
}
html.singlecolumn .wrapper {
  z-index: 10;
  position: relative;
}

html.singlecolumn .space_under {
  padding-bottom: 1em;
}

html.singlecolumn table {
  border-spacing: 10px 0;
}

/* Align first column right and other columns left
* https://stackoverflow.com/questions/11984767/how-to-apply-text-align-left-in-the-first-column-and-text-align-right-in-the-oth
*/
html.singlecolumn td {
  vertical-align: top;
}

html.singlecolumn details {
  margin-bottom: 1em;
}

html.singlecolumn .footer {
  box-sizing: border-box;
  text-align: center;
  padding: 2em;
  margin-top: 50vh;
  position: relative;
  z-index: 200;
}

@media (max-width: 970px) {
  html.singlecolumn .footer {
    margin-top: 2em;
  }
}
html.singlecolumn a {
  /*text-decoration: none;*/
  font-weight: 500;
  display: inline-block;
}

html.project body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  line-height: 1.4;
  text-align: center;
}

html.project .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

html.project .page-content {
  text-align: justify;
  max-width: 1200px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 2;
}

/*picture at top of page (behind my name)*/
html.project .header {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 5;
}

html.project .paper_teaser {
  max-width: 80%;
  display: inline-block;
  padding: 0.25em;
  margin-bottom: 1em;
  overflow: hidden;
}

html.project .paper_teaser > img {
  width: 100%;
  display: inline-block;
  margin: 0;
  margin-bottom: -7px;
}

html.project .name_box {
  font-family: "Helvetica", sans-serif;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
}

html.project .name_box > .title {
  font-size: 2em;
}

html.project .name_box > .venue {
  font-size: 1.25em;
}

html.project .name_box > .authors {
  display: flex;
  justify-content: center;
}

html.project .name_box > .authors > .author > .name {
  font-weight: 600;
  display: block;
}

html.project .name_box > .authors > .author > .affiliation {
  display: block;
  margin-top: -0.25em;
}

html.project .abstract::before {
  content: "Abstract: ";
  font-weight: 600;
}

html.project .abstract {
  text-align: justify;
  width: 95%;
  padding-left: auto;
  display: inline-block;
  /* center */
}

html.project .section_header {
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  line-height: 1;
  z-index: 10;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  margin-left: -10px;
  padding: 15px;
}

html.project .section_panel {
  max-width: 30%;
  width: 30%;
  padding-right: 1em;
  margin-top: 2em;
  box-sizing: border-box;
}

html.project .section_text {
  padding: 1em;
  padding-top: 3em;
  margin-top: -2.25em;
}

html.project .section_text > .paper-preview {
  display: inline-block;
  width: 100%;
  text-align: center;
}

html.project .section_text > .paper-preview > img {
  width: 128px;
  display: inline-block;
}

html.project .bibEntry {
  font-family: monospace;
  word-wrap: break-word;
  text-align: justify;
  white-space: pre-wrap;
}

html.project .footer {
  box-sizing: border-box;
  text-align: center;
  padding: 2em;
  margin-top: 15vh;
  position: relative;
  z-index: 200;
}

@media (max-width: 970px) {
  html.project .footer {
    margin-top: 2em;
  }
}
.nojs .jsonly {
  display: none;
}

/*# sourceMappingURL=swiss.css.map */
