/**
 * Espresso Libre theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
pre {
    background-color: #32302E;
    overflow: scroll;
    max-height: 600px;
    margin: 0px;
    padding: 10px;
    color: #F5F5F5;
    font-size: 14px;
    font-family: Courier, monospace;
    margin-bottom: 20px;
    padding: 2em;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .support.class, pre .support.type {
    color: #32C5EF;
}

pre .support.constant {
    color: #AF41D3;
}

pre .constant.language {
    color: #AF41D3;
}

pre .support.function {
    font-weight: bold;
    color: #32C5EF;
}

pre .string {
    color: #EDDC4B;
}

pre .constant.numeric {
    color: #44aa43;
}

pre .keyword, pre .storage {
    color: #32C5EF;
}

pre .entity.function {
    color: #32C5EF;
}

pre .entity.class {
    color: #63E449;
}

pre .integer {
    color: #C82EFB;
}

pre .operator {
    color: #FB1EB5;
}

pre .comment {
    color: #929292;
    font-style: italic;
}

pre .constant.symbol {
    color:#c5656b;
}

pre .variable.instance, pre .variable.language, pre .truth {
    color: #EE4DC2;
}

pre .static {
    color: #E19D1A;
}
