:root {
  --accent: #368E96;
  --accent-bright: #30A6B3;
  --accent-light: #4BB6C2;
}

body {
  /* background-image:  url("hex_tesselation.jpg"); */
  /* background-repeat:  repeat; */
  background-color: #D5D5D5;
  margin: 0;
  font-family: 'Palatino', 'Garamond', serif;
/*  font-size: 15pt;*/
}

.desktop {
  font-size: 15pt;
}

.mobile {
  font-size: 30pt;
}

.full_width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a.div_link {
  text-decoration: none;
}

div.page_title {
  width: 100%;
  background-color: var(--accent);
/*  border-top: 0.25em solid var(--accent-light);*/
  padding: 0.5em 0em 0.75em 0em;
  text-align: center;
  z-index: 1;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

  font-size: 3em;
  color: #FFF;
}

div.footer {
  width: 100%;
  min-height: 1em;

  background-color: #373737;
  border-top: 0.25em solid #575757;
  padding: 0.5em 0em 0.75em 0em;
  text-align: center;
  box-shadow: 1px -1px 5px rgba(0, 0, 0, .5);

  font-size: 1em;
  color: #FFF;
}

div.footer a {
  color: #FFF;
}

div.footer a:hover {
  color: var(--accent-light);
}

div.content_wrapper {
  min-height: 100%;
  position: relative;
  display: flex;
  padding: 0 15pt 0 15pt;
  gap: 15pt;
}

div.show_all_models {
  max-width: 1500px;
  margin: auto; /* centers div */
  padding: 1em;
  min-height: 100vh;
  background: #F4F4F4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  gap: 1em;
  justify-content: center;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

div.model_list {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 15pt;
}

.model_list_heading {
  color: #666;
  padding: .5em;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  font-variant-caps: small-caps;
  width: 100%;
  box-sizing: border-box;
}

.note_list {
  padding: 0;
  margin-top: -1.25em;
  text-align: center;
}

.note_list li {
  list-style-type: none;
  margin-bottom: .25em;
}

.note_list .other_model_name {
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
}
.note_list .other_model_author {
/*  font-weight: bold;*/
  text-decoration: none;
  color: var(--accent);
/*color: #666;*/
}

.note_list a:hover {
  color: var(--accent-bright);
  text-decoration: underline;
}

div.current_model {
  overflow: auto; /* makes div expand to fill remaining space */
  margin-top: 15pt;
}

/* mobile resize cutoff */
@media screen and (max-width: 1000pt) {
  .mobile div.page_title {
    font-size: 2em;
  }
  .mobile div.content_wrapper {
    flex-direction: column-reverse;
  }
  .mobile div.model_list {
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
  }
  .mobile div.model_list a > .model_display {
    display: flex;
    flex-direction: column;
  }
  .mobile div.model_list {
    margin-top: 0;
  }
}
/* desktop resize cutoff */
@media screen and (max-width: 600pt) {
  .desktop div.page_title {
    font-size: 2em;
  }
  .desktop div.content_wrapper {
    flex-direction: column-reverse;
  }
  .desktop div.model_list {
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
  }
  .desktop div.model_list a > .model_display {
    display: flex;
    flex-direction: column;
  }
  .desktop div.model_list {
    margin-top: 0;
  }
}


div.model_title {
  background-color: var(--accent);
  border-top: 0.25em solid var(--accent-light);
  font-size: 2em;
  padding: 0.5em 20% 0.75em 1em;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

  color: #FFF;
  z-index: 1;
}

img.header_image {
  max-width: 37%;
  margin-top: -90px;
  float: right;
  z-index: 2;
}

img.crease_pattern {
  width: 60%;
  max-height: 250pt;
/*  float: right;*/
}

div.model_details {
  font-weight: 400;
  line-height: 1.25;
  padding: 2em;
  padding-top: 1em;
}

div.panel {
  background: #F4F4F4;
  overflow: visible;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

div.model_display {
    min-width: 10em;
    max-width: 25em;
}

div.model_display > img, div.model_display > svg {
    min-width: 10em;
    max-width: 100%;
}

div.model_name {
  background-color: #373737;
  border-top: 0.25em solid #575757;
  color: #FFF;
  padding: 0.75em;
  padding-top: 0.5em;
  margin-top: -.5em;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

div.model_name > span.model_year {
  color: #BBB;
}

div.model_display:hover div.model_name {
  background-color: var(--accent);
  border-top: 0.25em solid var(--accent-light);
}

div.model_display:hover img {
  /*filter: url(#monochrome);*/
  /*-webkit-filter: url(#monochrome);*/
}

div.model_display:hover .svg_main_color {
  fill: var(--accent-bright);
}

div.model_display img {
  width:  100%;
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.svg_main_color {
  fill: var(--accent);
}

/* switch to turn off crease pattern link for models with no crease pattern */
.has_no_crease_pattern .optional_crease_pattern_data {
  display: none;
}
